# Tables, csv-files and shape-files for the manuscript

Author: Thiago Nascimento (thiago.nascimento@eawag.ch)

This notebook is part of the EStreams publication and was used to pre-process and derive tables and files for the manuscript. 

* Note that this code enables not only the replicability of the current database but also the extrapolation to new catchment areas. 
* Additionally, the user should download and insert the original raw-data in the folder of the same name prior to run this code. 
* The original third-party data used were not made avaialble in this repository due to redistribution and storage-space reasons.  

## Requirements
**Python:**

* Python>=3.6
* Jupyter
* Geopandas=0.10.2
* Pandas
* tqdm

Check the Github repository for an environment.yml (for conda environments) or requirements.txt (pip) file.

**Files:**

* Daily streamflow measurements. 

**Directory:**

* Clone the GitHub directory locally
* Place any third-data variables in their respective directory.
* ONLY update the "PATH" variable in the section "Configurations", with their relative path to the EStreams directory.

# Import modules

In [1]:
import pandas as pd
import numpy as np
import datetime
import tqdm as tqdm
import os
import geopandas as gpd
from utils.general import *

# Configurations

In [2]:
# Only editable variable:
PATH = r"/Users/thiagomedeirosdonascimento/Library/CloudStorage/OneDrive-Personal/PhD/Eawag/Papers/Paper1_Database/Paper"

* #### The users should NOT change anything in the code below here.

In [3]:
PATH_OUTPUT = "results/"

# Set the directory:
os.chdir(PATH)

# Import data
## Catchment boundaries

In [39]:
catchment_boundaries = gpd.read_file('data/shapefiles/estreams_catchments.shp')
catchment_boundaries

,id,area_km2,outlet_lat,outlet_lng,area_offic,area_calc,Code,basin_id,label_area,name,layer,path,geometry
0,DE01945,"144,000",50.937000,6.963000,144232,144432.885,DE01945,DE01945,0,BundespegelKoeln,None,None,"POLYGON Z ((7.96208 46.53708 0.00000, 7.96625 ..."
1,DE01946,"148,000",51.226000,6.770000,147680,147934.665,DE01946,DE01946,0,BundespegelDuesseldorf,None,None,"POLYGON Z ((7.96208 46.53708 0.00000, 7.96625 ..."
2,DE01947,"144,000",50.937000,6.963000,144232,144432.885,DE01947,DE01947,0,BundespegelKoeln,None,None,"POLYGON Z ((7.96208 46.53708 0.00000, 7.96625 ..."
3,DE01948,"148,000",51.226000,6.770000,147680,147934.665,DE01948,DE01948,0,BundespegelDuesseldorf,None,None,"POLYGON Z ((7.96208 46.53708 0.00000, 7.96625 ..."
4,DE01949,"159,000",51.757000,6.395000,159300,159352.653,DE01949,DE01949,0,BundespegelRees,None,None,"POLYGON Z ((7.96208 46.53708 0.00000, 7.96625 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15009,NL00015,148,51.812000,4.566000,None,148.000,NL00015,NL00015,888,Puttershoek,Catchment_Boundaries_NL_Merge,C:\Users\nascimth\Documents\Thiago\Eawag\Pytho...,"POLYGON Z ((4.49041 51.82958 0.00000, 4.49041 ..."
15010,NL00016,9500,51.350000,4.251000,None,9500.000,NL00016,NL00016,4,Schaar van Ouden Doel,Catchment_Boundaries_NL_Merge,C:\Users\nascimth\Documents\Thiago\Eawag\Pytho...,"POLYGON Z ((4.18958 51.29875 0.00000, 4.18958 ..."
15011,NL00017,21300,50.830000,5.697000,None,21300.000,NL00017,NL00017,4,Sint Pieter noord,Catchment_Boundaries_NL_Merge,C:\Users\nascimth\Documents\Thiago\Eawag\Pytho...,"POLYGON Z ((4.45041 49.91875 0.00000, 4.45041 ..."
15012,NL00014,3229,52.342353,6.103294,None,3229.000,NL00014,NL00014,6,Olst,Catchment_Boundaries_NL_Merge,C:\Users\nascimth\Documents\Thiago\Eawag\Pytho...,"POLYGON Z ((6.60946 52.15346 0.00000, 6.60837 ..."
15013,CZ00451,314,49.231000,17.672000,312.69,314.118,CZ00451,CZ00451,0,ZlÃÂ­n+svod,None,None,"POLYGON Z ((17.67541 49.24125 0.00000, 17.6754..."

In [40]:
# Here we sort the index:
catchment_boundaries = catchment_boundaries.set_index("id", inplace=False).sort_index(axis=0)
catchment_boundaries

,area_km2,outlet_lat,outlet_lng,area_offic,area_calc,Code,basin_id,label_area,name,layer,path,geometry
id,,,,,,,,,,,,
AT00001,4668.378643009853,47.274,9.535,4647.9,4668.379,AT00001,AT00001,0,Bangs,None,None,"POLYGON Z ((9.69406 46.54322 0.00000, 9.69570 ..."
AT00002,102.28688127787842,47.080,9.914,102,102.287,AT00002,AT00002,0,Schruns (Vonbunweg),None,None,"POLYGON Z ((10.13650 47.02949 0.00000, 10.1349..."
AT00003,536.2985313168554,47.133,9.848,535.2,536.299,AT00003,AT00003,0,Loruens-Aeule,None,None,"POLYGON Z ((10.11095 46.89437 0.00000, 10.1122..."
AT00004,66.2856923321305,47.129,10.062,66.6,66.286,AT00004,AT00004,0,Kloesterle (OEBB),None,None,"POLYGON Z ((10.14189 47.09706 0.00000, 10.1404..."
AT00005,72.4477297164234,47.151,9.803,72.2,72.448,AT00005,AT00005,0,Buers (Bruecke L82),None,None,"POLYGON Z ((9.67851 47.06249 0.00000, 9.67888 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,325,44.692,33.895,321,325.370,UAGR017,UAGR017,0,6682300,None,None,"POLYGON Z ((33.96791 44.63291 0.00000, 33.9679..."
UAGR018,48,44.500,34.167,49.7,47.594,UAGR018,UAGR018,0,6682500,None,None,"POLYGON Z ((34.19958 44.58291 0.00000, 34.2029..."
UAGR019,245,44.888,34.200,261,244.731,UAGR019,UAGR019,1,6683010,None,None,"POLYGON Z ((34.19624 44.88375 0.00000, 34.1962..."
UAGR020,731,47.251,35.706,760,731.073,UAGR020,UAGR020,0,6683200,None,None,"POLYGON Z ((35.78708 47.28708 0.00000, 35.7870..."
UAGR021,600,48.153,38.145,582,599.600,UAGR021,UAGR021,0,6683300,None,None,"POLYGON Z ((38.10125 48.15791 0.00000, 38.1004..."

## Daily streamflow time-series

In [6]:
timeseries_EU = pd.read_csv("data/streamflow/estreams_timeseries_streamflow.csv", index_col=0)
timeseries_EU.index = pd.to_datetime(timeseries_EU.index)
timeseries_EU.index.name = "dates"
timeseries_EU

,AT00001,AT00002,AT00003,AT00004,AT00005,AT00006,AT00007,AT00008,AT00009,AT00010,...,DE02101,DE02102,DE02103,DE02104,DE02105,DE02106,DE02107,DE02108,DE02109,DE02110
dates,,,,,,,,,,,,,,,,,,,,,
1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Replace any negative value by np.nan:
timeseries_EU = timeseries_EU.applymap(lambda x: np.nan if x < 0 else x)

## Streamflow gauges network

In [8]:
network_EU = pd.read_excel("data/streamflow/estreams_gauging_stations_infos.xlsx")
network_EU

,new_code,code,name,river,area,elev,lon,lat,country,degimpact,...,calc_Perc2,error_are2,xcoord_3,ycoord_3,manual_del,area_calc,area_calc_,area_calc_label,region,remark
0,ITVEN406,270VE,Adige a Albaredo,Adige,11954.0,23.59,11.266291,45.317948,IT,NaN,...,NaN,NaN,NaN,NaN,NaN,11938.762,0.0,0,NaN,NaN
1,ITVEN407,283VE,Brenta a Barzizza,Brenta,1567.0,105.38,11.730543,45.777415,IT,NaN,...,NaN,NaN,NaN,NaN,NaN,1571.329,0.0,0,NaN,NaN
2,ITVEN408,284VE,Adige a Boara Pisani,Adige,11954.0,8.4,11.784244,45.105481,IT,NaN,...,NaN,NaN,NaN,NaN,NaN,12020.860,0.0,0,NaN,NaN
3,ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,694.0,37.57,11.620895,45.600894,IT,NaN,...,NaN,NaN,NaN,NaN,NaN,759.659,0.0,0,NaN,NaN
4,ITVEN410,286VE,Frassine a Borgofrassine,Frassine,NaN,16.69,11.481112,45.251409,IT,NaN,...,NaN,NaN,NaN,NaN,NaN,414.418,2.0,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15041,DE02106,5752400000,Hachelbich,Wipper,524.0,NaN,10.973000,51.347000,DE,NaN,...,NaN,NaN,NaN,NaN,NaN,524.000,0.0,0,TH,NaN
15042,DE02107,5752500000,Bleicherode,Bode,104.0,NaN,10.593000,51.450000,DE,NaN,...,NaN,NaN,NaN,NaN,NaN,104.000,0.0,0,TH,NaN
15043,DE02108,5754000000,Sundhausen,Helme,200.6,NaN,10.810000,51.468000,DE,NaN,...,NaN,NaN,NaN,NaN,NaN,200.000,0.0,0,TH,NaN
15044,DE02109,5755000000,Nordhausen,Zorge,303.6,NaN,10.784000,51.507000,DE,NaN,...,NaN,NaN,NaN,NaN,NaN,302.000,0.0,0,TH,NaN
15045,DE02110,5756600000,Ilfeld,Bere,62.3,NaN,10.786000,51.598000,DE,NaN,...,NaN,NaN,NaN,NaN,NaN,63.000,0.0,0,TH,NaN

In [9]:
network_EU.columns

Index(['new_code', 'code', 'name', 'river', 'area', 'elev', 'lon', 'lat',
       'country', 'degimpact', 'lake', 'num_reserv', 'RE', 'num_daily_',
       'num_years_', 'delete', 'calc_Perc_', 'xcoord', 'ycoord', 'xcoord_4',
       'ycoord_4', 'calc_area_', 'new_area', 'error_area', 'xcoord_2',
       'ycoord_2', 'new_area2', 'calc_Perc2', 'error_are2', 'xcoord_3',
       'ycoord_3', 'manual_del', 'area_calc', 'area_calc_', 'area_calc_label',
       'region', 'remark'],
      dtype='object')

In [10]:
network_EU[["new_code", "code"]]

       new_code        code
0      ITVEN406       270VE
1      ITVEN407       283VE
2      ITVEN408       284VE
3      ITVEN409       285VE
4      ITVEN410       286VE
...         ...         ...
15041   DE02106  5752400000
15042   DE02107  5752500000
15043   DE02108  5754000000
15044   DE02109  5755000000
15045   DE02110  5756600000

[15046 rows x 2 columns]

In [11]:
network_EU_net = network_EU[["new_code", "code", "name", "river", "xcoord_4", "ycoord_4", "lon", "lat",
                           "area", "elev", "country", "area_calc", "area_calc_label"]]

network_EU_net.columns = ["basin_id", "gauge_id", "gauge_name", "river", "lon", "lat", "lon_r","lat_r", 
                          "area_r", "elevation", "country", "area_c", "area_flag"]

network_EU_net

,basin_id,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag
0,ITVEN406,270VE,Adige a Albaredo,Adige,11.266291,45.317948,11.266291,45.317948,11954.0,23.59,IT,11938.762,0
1,ITVEN407,283VE,Brenta a Barzizza,Brenta,11.730543,45.777415,11.730543,45.777415,1567.0,105.38,IT,1571.329,0
2,ITVEN408,284VE,Adige a Boara Pisani,Adige,11.784244,45.105481,11.784244,45.105481,11954.0,8.4,IT,12020.860,0
3,ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,11.620895,45.600894,11.620895,45.600894,694.0,37.57,IT,759.659,0
4,ITVEN410,286VE,Frassine a Borgofrassine,Frassine,11.481112,45.251409,11.481112,45.251409,NaN,16.69,IT,414.418,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15041,DE02106,5752400000,Hachelbich,Wipper,10.973000,51.347000,10.973000,51.347000,524.0,NaN,DE,524.000,0
15042,DE02107,5752500000,Bleicherode,Bode,10.593000,51.450000,10.593000,51.450000,104.0,NaN,DE,104.000,0
15043,DE02108,5754000000,Sundhausen,Helme,10.810000,51.468000,10.810000,51.468000,200.6,NaN,DE,200.000,0
15044,DE02109,5755000000,Nordhausen,Zorge,10.784000,51.507000,10.784000,51.507000,303.6,NaN,DE,302.000,0
15045,DE02110,5756600000,Ilfeld,Bere,10.786000,51.598000,10.786000,51.598000,62.3,NaN,DE,63.000,0

In [12]:
network_EU_net["area_perc"] = ((network_EU_net["area_r"] - network_EU_net["area_c"])/network_EU_net["area_r"])  * 100

In [13]:
network_EU_net

,basin_id,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag,area_perc
0,ITVEN406,270VE,Adige a Albaredo,Adige,11.266291,45.317948,11.266291,45.317948,11954.0,23.59,IT,11938.762,0,0.127472
1,ITVEN407,283VE,Brenta a Barzizza,Brenta,11.730543,45.777415,11.730543,45.777415,1567.0,105.38,IT,1571.329,0,-0.276260
2,ITVEN408,284VE,Adige a Boara Pisani,Adige,11.784244,45.105481,11.784244,45.105481,11954.0,8.4,IT,12020.860,0,-0.559311
3,ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,11.620895,45.600894,11.620895,45.600894,694.0,37.57,IT,759.659,0,-9.460951
4,ITVEN410,286VE,Frassine a Borgofrassine,Frassine,11.481112,45.251409,11.481112,45.251409,NaN,16.69,IT,414.418,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15041,DE02106,5752400000,Hachelbich,Wipper,10.973000,51.347000,10.973000,51.347000,524.0,NaN,DE,524.000,0,0.000000
15042,DE02107,5752500000,Bleicherode,Bode,10.593000,51.450000,10.593000,51.450000,104.0,NaN,DE,104.000,0,0.000000
15043,DE02108,5754000000,Sundhausen,Helme,10.810000,51.468000,10.810000,51.468000,200.6,NaN,DE,200.000,0,0.299103
15044,DE02109,5755000000,Nordhausen,Zorge,10.784000,51.507000,10.784000,51.507000,303.6,NaN,DE,302.000,0,0.527009
15045,DE02110,5756600000,Ilfeld,Bere,10.786000,51.598000,10.786000,51.598000,62.3,NaN,DE,63.000,0,-1.123596

In [14]:
# Here we set the index:
network_EU_net.set_index("basin_id", inplace =True)
network_EU_net

,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag,area_perc
basin_id,,,,,,,,,,,,,
ITVEN406,270VE,Adige a Albaredo,Adige,11.266291,45.317948,11.266291,45.317948,11954.0,23.59,IT,11938.762,0,0.127472
ITVEN407,283VE,Brenta a Barzizza,Brenta,11.730543,45.777415,11.730543,45.777415,1567.0,105.38,IT,1571.329,0,-0.276260
ITVEN408,284VE,Adige a Boara Pisani,Adige,11.784244,45.105481,11.784244,45.105481,11954.0,8.4,IT,12020.860,0,-0.559311
ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,11.620895,45.600894,11.620895,45.600894,694.0,37.57,IT,759.659,0,-9.460951
ITVEN410,286VE,Frassine a Borgofrassine,Frassine,11.481112,45.251409,11.481112,45.251409,NaN,16.69,IT,414.418,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,Wipper,10.973000,51.347000,10.973000,51.347000,524.0,NaN,DE,524.000,0,0.000000
DE02107,5752500000,Bleicherode,Bode,10.593000,51.450000,10.593000,51.450000,104.0,NaN,DE,104.000,0,0.000000
DE02108,5754000000,Sundhausen,Helme,10.810000,51.468000,10.810000,51.468000,200.6,NaN,DE,200.000,0,0.299103
DE02109,5755000000,Nordhausen,Zorge,10.784000,51.507000,10.784000,51.507000,303.6,NaN,DE,302.000,0,0.527009
DE02110,5756600000,Ilfeld,Bere,10.786000,51.598000,10.786000,51.598000,62.3,NaN,DE,63.000,0,-1.123596

In [15]:
network_EU_net["start_date"] = find_first_non_nan_dates(timeseries_EU)
network_EU_net["end_date"] = find_last_non_nan_dates(timeseries_EU)

network_EU_net

,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag,area_perc,start_date,end_date
basin_id,,,,,,,,,,,,,,,
ITVEN406,270VE,Adige a Albaredo,Adige,11.266291,45.317948,11.266291,45.317948,11954.0,23.59,IT,11938.762,0,0.127472,2005-07-07,2022-12-31
ITVEN407,283VE,Brenta a Barzizza,Brenta,11.730543,45.777415,11.730543,45.777415,1567.0,105.38,IT,1571.329,0,-0.276260,2004-01-01,2022-12-31
ITVEN408,284VE,Adige a Boara Pisani,Adige,11.784244,45.105481,11.784244,45.105481,11954.0,8.4,IT,12020.860,0,-0.559311,2004-01-01,2022-12-31
ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,11.620895,45.600894,11.620895,45.600894,694.0,37.57,IT,759.659,0,-9.460951,2004-01-01,2022-12-31
ITVEN410,286VE,Frassine a Borgofrassine,Frassine,11.481112,45.251409,11.481112,45.251409,NaN,16.69,IT,414.418,2,NaN,2012-11-11,2020-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,Wipper,10.973000,51.347000,10.973000,51.347000,524.0,NaN,DE,524.000,0,0.000000,1961-11-01,2021-12-31
DE02107,5752500000,Bleicherode,Bode,10.593000,51.450000,10.593000,51.450000,104.0,NaN,DE,104.000,0,0.000000,1951-11-01,2021-12-31
DE02108,5754000000,Sundhausen,Helme,10.810000,51.468000,10.810000,51.468000,200.6,NaN,DE,200.000,0,0.299103,1957-11-01,2021-12-31
DE02109,5755000000,Nordhausen,Zorge,10.784000,51.507000,10.784000,51.507000,303.6,NaN,DE,302.000,0,0.527009,1953-11-01,2021-12-31
DE02110,5756600000,Ilfeld,Bere,10.786000,51.598000,10.786000,51.598000,62.3,NaN,DE,63.000,0,-1.123596,1951-11-01,2021-12-31

In [16]:
# Number of measurements:
network_EU_net[["num_daily_obs", "num_monthly", "num_monthly_complete", "num_yearly", "num_yearly_complete"]] = count_num_measurements(timeseries = timeseries_EU)
network_EU_net.drop(["num_monthly_complete", "num_yearly_complete"], axis = 1, inplace = True)
network_EU_net

,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag,area_perc,start_date,end_date,num_daily_obs,num_monthly,num_yearly
basin_id,,,,,,,,,,,,,,,,,,
ITVEN406,270VE,Adige a Albaredo,Adige,11.266291,45.317948,11.266291,45.317948,11954.0,23.59,IT,11938.762,0,0.127472,2005-07-07,2022-12-31,6157,204,18
ITVEN407,283VE,Brenta a Barzizza,Brenta,11.730543,45.777415,11.730543,45.777415,1567.0,105.38,IT,1571.329,0,-0.276260,2004-01-01,2022-12-31,6918,228,19
ITVEN408,284VE,Adige a Boara Pisani,Adige,11.784244,45.105481,11.784244,45.105481,11954.0,8.4,IT,12020.860,0,-0.559311,2004-01-01,2022-12-31,6918,228,19
ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,11.620895,45.600894,11.620895,45.600894,694.0,37.57,IT,759.659,0,-9.460951,2004-01-01,2022-12-31,6918,228,19
ITVEN410,286VE,Frassine a Borgofrassine,Frassine,11.481112,45.251409,11.481112,45.251409,NaN,16.69,IT,414.418,2,NaN,2012-11-11,2020-12-31,2945,98,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,Wipper,10.973000,51.347000,10.973000,51.347000,524.0,NaN,DE,524.000,0,0.000000,1961-11-01,2021-12-31,21976,722,61
DE02107,5752500000,Bleicherode,Bode,10.593000,51.450000,10.593000,51.450000,104.0,NaN,DE,104.000,0,0.000000,1951-11-01,2021-12-31,25629,842,71
DE02108,5754000000,Sundhausen,Helme,10.810000,51.468000,10.810000,51.468000,200.6,NaN,DE,200.000,0,0.299103,1957-11-01,2021-12-31,23437,770,65
DE02109,5755000000,Nordhausen,Zorge,10.784000,51.507000,10.784000,51.507000,303.6,NaN,DE,302.000,0,0.527009,1953-11-01,2021-12-31,24891,818,69
DE02110,5756600000,Ilfeld,Bere,10.786000,51.598000,10.786000,51.598000,62.3,NaN,DE,63.000,0,-1.123596,1951-11-01,2021-12-31,25629,842,71

In [17]:
# Calculate the number of gaps:
network_EU_net["num_days_gaps"] = ((network_EU_net['end_date'] - network_EU_net['start_date']).dt.days + 1) - network_EU_net['num_daily_obs']
network_EU_net

,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag,area_perc,start_date,end_date,num_daily_obs,num_monthly,num_yearly,num_days_gaps
basin_id,,,,,,,,,,,,,,,,,,,
ITVEN406,270VE,Adige a Albaredo,Adige,11.266291,45.317948,11.266291,45.317948,11954.0,23.59,IT,11938.762,0,0.127472,2005-07-07,2022-12-31,6157,204,18,230.0
ITVEN407,283VE,Brenta a Barzizza,Brenta,11.730543,45.777415,11.730543,45.777415,1567.0,105.38,IT,1571.329,0,-0.276260,2004-01-01,2022-12-31,6918,228,19,22.0
ITVEN408,284VE,Adige a Boara Pisani,Adige,11.784244,45.105481,11.784244,45.105481,11954.0,8.4,IT,12020.860,0,-0.559311,2004-01-01,2022-12-31,6918,228,19,22.0
ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,11.620895,45.600894,11.620895,45.600894,694.0,37.57,IT,759.659,0,-9.460951,2004-01-01,2022-12-31,6918,228,19,22.0
ITVEN410,286VE,Frassine a Borgofrassine,Frassine,11.481112,45.251409,11.481112,45.251409,NaN,16.69,IT,414.418,2,NaN,2012-11-11,2020-12-31,2945,98,9,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,Wipper,10.973000,51.347000,10.973000,51.347000,524.0,NaN,DE,524.000,0,0.000000,1961-11-01,2021-12-31,21976,722,61,0.0
DE02107,5752500000,Bleicherode,Bode,10.593000,51.450000,10.593000,51.450000,104.0,NaN,DE,104.000,0,0.000000,1951-11-01,2021-12-31,25629,842,71,0.0
DE02108,5754000000,Sundhausen,Helme,10.810000,51.468000,10.810000,51.468000,200.6,NaN,DE,200.000,0,0.299103,1957-11-01,2021-12-31,23437,770,65,0.0
DE02109,5755000000,Nordhausen,Zorge,10.784000,51.507000,10.784000,51.507000,303.6,NaN,DE,302.000,0,0.527009,1953-11-01,2021-12-31,24891,818,69,7.0
DE02110,5756600000,Ilfeld,Bere,10.786000,51.598000,10.786000,51.598000,62.3,NaN,DE,63.000,0,-1.123596,1951-11-01,2021-12-31,25629,842,71,0.0

In [18]:
# Here we compute the longest period with continuous measurements:
longest_gap_periods = longest_continuous_period(timeseries = timeseries_EU)

100%|█████████████████████████████████████| 15046/15046 [02:51<00:00, 87.70it/s]

In [19]:
network_EU_net[["num_continuous_days"]] = longest_gap_periods

In [20]:
# Here we sort the index:
network_EU_net = network_EU_net.sort_index(axis=0)
network_EU_net

,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag,area_perc,start_date,end_date,num_daily_obs,num_monthly,num_yearly,num_days_gaps,num_continuous_days
basin_id,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,420,AT,4668.379,0,-0.440608,1996-01-01,2019-12-31,8766,288,24,0.0,8766
AT00002,200048,Schruns (Vonbunweg),Litz,9.913677,47.080301,9.913677,47.080301,102.0,673,AT,102.287,0,-0.281373,1958-10-01,2019-12-31,22372,735,62,0.0,22372
AT00003,231662,Loruens-Aeule,Ill,9.847765,47.132821,9.847765,47.132821,535.2,579,AT,536.299,0,-0.205344,1985-01-02,2019-12-31,12782,420,35,0.0,12782
AT00004,200592,Kloesterle (OEBB),Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,1014,AT,66.286,0,0.471471,1998-01-02,2019-12-31,8034,264,22,0.0,8034
AT00005,200097,Buers (Bruecke L82),Alvier,9.802668,47.150770,9.802668,47.150770,72.2,564,AT,72.448,0,-0.343490,1990-01-01,2019-12-31,10957,360,30,0.0,10957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,NaN,UA,325.370,0,-1.361371,1978-01-01,1987-12-31,3652,120,10,0.0,3652
UAGR018,6682500,YALTA,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,16,UA,47.594,0,4.237425,1978-01-01,1987-12-31,3652,120,10,0.0,3652
UAGR019,6683010,PIONERSKOE,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,307,UA,244.731,1,6.233333,1978-01-01,1987-12-31,3652,120,10,0.0,3652
UAGR020,6683200,TOKMAK,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,NaN,UA,731.073,0,3.806184,1978-01-01,1987-12-31,3652,120,10,0.0,3652
UAGR021,6683300,NOVOSELOVKA,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,118,UA,599.600,0,-3.024055,1978-01-01,1987-12-31,3652,120,10,0.0,3652

In [21]:
network_EU_net.columns

Index(['gauge_id', 'gauge_name', 'river', 'lon', 'lat', 'lon_r', 'lat_r',
       'area_r', 'elevation', 'country', 'area_c', 'area_flag', 'area_perc',
       'start_date', 'end_date', 'num_daily_obs', 'num_monthly', 'num_yearly',
       'num_days_gaps', 'num_continuous_days'],
      dtype='object')

In [22]:
network_EU_net.columns = ['gauge_id', 'gauge_name', 'river', 'lon', 'lat', 'lon_r', 'lat_r',
                          'area_r', 'elevation', 'gauge_country', 'area_c', 'area_flag', 'area_perc',
                          'start_date', 'end_date', 'num_days', 'num_months', 'num_years',
                          'num_days_gaps', 'num_continuous_days']

network_EU_net = network_EU_net[['gauge_id', 'gauge_name', 'gauge_country', 'river', 'lon', 'lat', 'lon_r', 'lat_r',
                          'area_r', 'elevation', 'area_c', 'area_flag', 'area_perc',
                          'start_date', 'end_date', 'num_years', 'num_months', 'num_days',
                          'num_days_gaps', 'num_continuous_days']]

network_EU_net

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,area_c,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days
basin_id,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,AT,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,420,4668.379,0,-0.440608,1996-01-01,2019-12-31,24,288,8766,0.0,8766
AT00002,200048,Schruns (Vonbunweg),AT,Litz,9.913677,47.080301,9.913677,47.080301,102.0,673,102.287,0,-0.281373,1958-10-01,2019-12-31,62,735,22372,0.0,22372
AT00003,231662,Loruens-Aeule,AT,Ill,9.847765,47.132821,9.847765,47.132821,535.2,579,536.299,0,-0.205344,1985-01-02,2019-12-31,35,420,12782,0.0,12782
AT00004,200592,Kloesterle (OEBB),AT,Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,1014,66.286,0,0.471471,1998-01-02,2019-12-31,22,264,8034,0.0,8034
AT00005,200097,Buers (Bruecke L82),AT,Alvier,9.802668,47.150770,9.802668,47.150770,72.2,564,72.448,0,-0.343490,1990-01-01,2019-12-31,30,360,10957,0.0,10957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,UA,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,NaN,325.370,0,-1.361371,1978-01-01,1987-12-31,10,120,3652,0.0,3652
UAGR018,6682500,YALTA,UA,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,16,47.594,0,4.237425,1978-01-01,1987-12-31,10,120,3652,0.0,3652
UAGR019,6683010,PIONERSKOE,UA,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,307,244.731,1,6.233333,1978-01-01,1987-12-31,10,120,3652,0.0,3652
UAGR020,6683200,TOKMAK,UA,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,NaN,731.073,0,3.806184,1978-01-01,1987-12-31,10,120,3652,0.0,3652
UAGR021,6683300,NOVOSELOVKA,UA,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,118,599.600,0,-3.024055,1978-01-01,1987-12-31,10,120,3652,0.0,3652

## New codes' definition:

In [23]:
# Adjust of the German names (inclusion of the region)
network_EU_net["region"] = network_EU.set_index("new_code", inplace = False)["region"]
network_EU_net[network_EU_net.gauge_country == "DE"]

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region
basin_id,,,,,,,,,,,,,,,,,,,,,
DE00001,5891200,"Alt Ruppin, Schleuse OP",DE,Rhin,12.835157,52.959469,12.835157,52.959469,534.785653,NaN,...,3,-134.602591,1980-11-01,2023-09-25,44,515,15669,0.0,15669,BB
DE00002,5871600,Babelsberg-Drewitz,DE,Nuthe,13.116304,52.362773,13.116304,52.362773,1768.326729,NaN,...,0,-1.485940,1954-11-01,2023-09-24,70,827,25160,5.0,25124,BB
DE00003,5530500,Bad Liebenwerda,DE,Schwarze Elster,13.394420,51.519043,13.394420,51.519043,3137.028384,NaN,...,3,26.821510,1960-11-01,2023-09-18,64,755,22967,0.0,22967,BB
DE00004,5930500,Bad Wilsnack,DE,Karthane,11.937284,52.956437,11.937284,52.956437,284.617208,NaN,...,0,-1.609808,1975-11-01,2023-09-24,47,539,16399,1096.0,14938,BB
DE00005,5825500,"Beeskow, Spreeschleuse UP",DE,Spree,14.254694,52.171976,14.254694,52.171976,5565.936643,NaN,...,0,3.436989,1950-03-02,2023-09-19,74,883,26865,0.0,26865,BB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,DE,Wipper,10.973000,51.347000,10.973000,51.347000,524.000000,NaN,...,0,0.000000,1961-11-01,2021-12-31,61,722,21976,0.0,21976,TH
DE02107,5752500000,Bleicherode,DE,Bode,10.593000,51.450000,10.593000,51.450000,104.000000,NaN,...,0,0.000000,1951-11-01,2021-12-31,71,842,25629,0.0,25629,TH
DE02108,5754000000,Sundhausen,DE,Helme,10.810000,51.468000,10.810000,51.468000,200.600000,NaN,...,0,0.299103,1957-11-01,2021-12-31,65,770,23437,0.0,23437,TH
DE02109,5755000000,Nordhausen,DE,Zorge,10.784000,51.507000,10.784000,51.507000,303.600000,NaN,...,0,0.527009,1953-11-01,2021-12-31,69,818,24891,7.0,24650,TH
DE02110,5756600000,Ilfeld,DE,Bere,10.786000,51.598000,10.786000,51.598000,62.300000,NaN,...,0,-1.123596,1951-11-01,2021-12-31,71,842,25629,0.0,25629,TH

In [24]:
#create a old code column
network_EU_net['old_code'] = network_EU_net.index

# Extract the first four digits from the 'old_code' column
network_EU_net['first_four_digits'] = network_EU_net['old_code'].str.extract('([A-Za-z]{1,4})')

# Add zeros to ensure a total length of 4 characters
network_EU_net['first_four_digits'] = network_EU_net['first_four_digits'].apply(lambda x: x.ljust(4, '0'))

# Extract the numeric part from the 'code' column
network_EU_net['numeric_part'] = network_EU_net.old_code.str.extract('(\d+)')

# Convert 'numeric_part' to a 4-digit string with leading zeros
network_EU_net['numeric_part'] = network_EU_net['numeric_part'].apply(lambda x: f"{int(x):04d}")

## Create a new column 'new_code' by concatenating 'region' and 'numeric_part'
network_EU_net['new_code'] = network_EU_net['first_four_digits'] + network_EU_net['numeric_part']

network_EU_net

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region,old_code,first_four_digits,numeric_part,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,AT,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,420,...,24,288,8766,0.0,8766,NaN,AT00001,AT00,0001,AT000001
AT00002,200048,Schruns (Vonbunweg),AT,Litz,9.913677,47.080301,9.913677,47.080301,102.0,673,...,62,735,22372,0.0,22372,NaN,AT00002,AT00,0002,AT000002
AT00003,231662,Loruens-Aeule,AT,Ill,9.847765,47.132821,9.847765,47.132821,535.2,579,...,35,420,12782,0.0,12782,NaN,AT00003,AT00,0003,AT000003
AT00004,200592,Kloesterle (OEBB),AT,Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,1014,...,22,264,8034,0.0,8034,NaN,AT00004,AT00,0004,AT000004
AT00005,200097,Buers (Bruecke L82),AT,Alvier,9.802668,47.150770,9.802668,47.150770,72.2,564,...,30,360,10957,0.0,10957,NaN,AT00005,AT00,0005,AT000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,UA,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,NaN,...,10,120,3652,0.0,3652,NaN,UAGR017,UAGR,0017,UAGR0017
UAGR018,6682500,YALTA,UA,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,16,...,10,120,3652,0.0,3652,NaN,UAGR018,UAGR,0018,UAGR0018
UAGR019,6683010,PIONERSKOE,UA,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,307,...,10,120,3652,0.0,3652,NaN,UAGR019,UAGR,0019,UAGR0019
UAGR020,6683200,TOKMAK,UA,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,NaN,...,10,120,3652,0.0,3652,NaN,UAGR020,UAGR,0020,UAGR0020
UAGR021,6683300,NOVOSELOVKA,UA,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,118,...,10,120,3652,0.0,3652,NaN,UAGR021,UAGR,0021,UAGR0021

In [25]:
# Here we can check it:
network_EU_net[network_EU_net.gauge_country == "IT"]

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region,old_code,first_four_digits,numeric_part,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
ITABR441,Aterno a Molina,Aterno a Molina,IT,Aterno,13.753056,42.137222,13.753056,42.137222,1303.0,454,...,10,114,3454,8.0,1954,NaN,ITABR441,ITAB,0441,ITAB0441
ITABR442,Aterno a Tre Ponti,Aterno a Tre Ponti,IT,Aterno,13.258056,42.476389,13.258056,42.476389,114.0,774,...,10,113,3250,212.0,620,NaN,ITABR442,ITAB,0442,ITAB0442
ITABR443,Feltrino a San Vito,Feltrino a San Vito,IT,Feltrino,14.439444,42.296389,14.439444,42.296389,50.0,24,...,10,114,3411,51.0,937,NaN,ITABR443,ITAB,0443,ITAB0443
ITABR444,Pescara a Maraone,Pescara a Maraone,IT,Pescara,13.838611,42.180000,13.838611,42.180000,2003.0,246,...,10,114,3455,7.0,1723,NaN,ITABR444,ITAB,0444,ITAB0444
ITABR445,Sagittario a Capo Canale,Sagittario a Capo Canale,IT,Sagittario,13.866389,42.123333,13.866389,42.123333,599.0,275,...,10,114,3456,6.0,2189,NaN,ITABR445,ITAB,0445,ITAB0445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ITVEN436,271VE,Piave a Belluno Ponte Vittoria,IT,Piave,12.218586,46.134222,12.218586,46.134222,NaN,NaN,...,3,30,826,134.0,422,NaN,ITVEN436,ITVE,0436,ITVE0436
ITVEN437,277VE,Cordevole a Ponte Mas,IT,Cordevole,12.125220,46.154313,12.125220,46.154313,696.0,360.75,...,21,213,6032,1308.0,2121,NaN,ITVEN437,ITVE,0437,ITVE0437
ITVEN438,327VE,Piave a Segusino,IT,Piave,11.948837,45.922490,11.948837,45.922490,3469.0,177.39,...,19,216,6284,656.0,2041,NaN,ITVEN438,ITVE,0438,ITVE0438
ITVEN439,374VE,Brenta a Enego,IT,Brenta,11.715000,45.954413,11.715000,45.954413,646.0,NaN,...,18,204,6062,171.0,2384,NaN,ITVEN439,ITVE,0439,ITVE0439
ITVEN440,557VE,Piave a Belluno unificata,IT,Piave,12.228124,46.127896,12.228124,46.127896,1980.0,329.29,...,5,54,1615,2.0,1614,NaN,ITVEN440,ITVE,0440,ITVE0440

* ### Germany

In [26]:
# Subset only germany
network_EU_net_DE = network_EU_net[network_EU_net.gauge_country == "DE"]

# Extract the numeric part from the 'code' column
network_EU_net_DE['numeric_part'] = network_EU_net_DE.old_code.str.extract('(\d+)')

# Convert 'numeric_part' to a 4-digit string with leading zeros
network_EU_net_DE['numeric_part'] = network_EU_net_DE['numeric_part'].apply(lambda x: f"{int(x):04d}")

## Create a new column 'new_code' by concatenating 'region' and 'numeric_part'
network_EU_net_DE['new_code'] = "DE" + network_EU_net_DE['region'] + network_EU_net_DE['numeric_part']

network_EU_net_DE

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region,old_code,first_four_digits,numeric_part,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
DE00001,5891200,"Alt Ruppin, Schleuse OP",DE,Rhin,12.835157,52.959469,12.835157,52.959469,534.785653,NaN,...,44,515,15669,0.0,15669,BB,DE00001,DE00,0001,DEBB0001
DE00002,5871600,Babelsberg-Drewitz,DE,Nuthe,13.116304,52.362773,13.116304,52.362773,1768.326729,NaN,...,70,827,25160,5.0,25124,BB,DE00002,DE00,0002,DEBB0002
DE00003,5530500,Bad Liebenwerda,DE,Schwarze Elster,13.394420,51.519043,13.394420,51.519043,3137.028384,NaN,...,64,755,22967,0.0,22967,BB,DE00003,DE00,0003,DEBB0003
DE00004,5930500,Bad Wilsnack,DE,Karthane,11.937284,52.956437,11.937284,52.956437,284.617208,NaN,...,47,539,16399,1096.0,14938,BB,DE00004,DE00,0004,DEBB0004
DE00005,5825500,"Beeskow, Spreeschleuse UP",DE,Spree,14.254694,52.171976,14.254694,52.171976,5565.936643,NaN,...,74,883,26865,0.0,26865,BB,DE00005,DE00,0005,DEBB0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,DE,Wipper,10.973000,51.347000,10.973000,51.347000,524.000000,NaN,...,61,722,21976,0.0,21976,TH,DE02106,DE00,2106,DETH2106
DE02107,5752500000,Bleicherode,DE,Bode,10.593000,51.450000,10.593000,51.450000,104.000000,NaN,...,71,842,25629,0.0,25629,TH,DE02107,DE00,2107,DETH2107
DE02108,5754000000,Sundhausen,DE,Helme,10.810000,51.468000,10.810000,51.468000,200.600000,NaN,...,65,770,23437,0.0,23437,TH,DE02108,DE00,2108,DETH2108
DE02109,5755000000,Nordhausen,DE,Zorge,10.784000,51.507000,10.784000,51.507000,303.600000,NaN,...,69,818,24891,7.0,24650,TH,DE02109,DE00,2109,DETH2109
DE02110,5756600000,Ilfeld,DE,Bere,10.786000,51.598000,10.786000,51.598000,62.300000,NaN,...,71,842,25629,0.0,25629,TH,DE02110,DE00,2110,DETH2110

In [27]:
# here we replace only for Germany and check the results:
network_EU_net.loc[network_EU_net_DE.index, "new_code"] = network_EU_net_DE['new_code']
network_EU_net[network_EU_net.gauge_country == "DE"]

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region,old_code,first_four_digits,numeric_part,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
DE00001,5891200,"Alt Ruppin, Schleuse OP",DE,Rhin,12.835157,52.959469,12.835157,52.959469,534.785653,NaN,...,44,515,15669,0.0,15669,BB,DE00001,DE00,0001,DEBB0001
DE00002,5871600,Babelsberg-Drewitz,DE,Nuthe,13.116304,52.362773,13.116304,52.362773,1768.326729,NaN,...,70,827,25160,5.0,25124,BB,DE00002,DE00,0002,DEBB0002
DE00003,5530500,Bad Liebenwerda,DE,Schwarze Elster,13.394420,51.519043,13.394420,51.519043,3137.028384,NaN,...,64,755,22967,0.0,22967,BB,DE00003,DE00,0003,DEBB0003
DE00004,5930500,Bad Wilsnack,DE,Karthane,11.937284,52.956437,11.937284,52.956437,284.617208,NaN,...,47,539,16399,1096.0,14938,BB,DE00004,DE00,0004,DEBB0004
DE00005,5825500,"Beeskow, Spreeschleuse UP",DE,Spree,14.254694,52.171976,14.254694,52.171976,5565.936643,NaN,...,74,883,26865,0.0,26865,BB,DE00005,DE00,0005,DEBB0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,DE,Wipper,10.973000,51.347000,10.973000,51.347000,524.000000,NaN,...,61,722,21976,0.0,21976,TH,DE02106,DE00,2106,DETH2106
DE02107,5752500000,Bleicherode,DE,Bode,10.593000,51.450000,10.593000,51.450000,104.000000,NaN,...,71,842,25629,0.0,25629,TH,DE02107,DE00,2107,DETH2107
DE02108,5754000000,Sundhausen,DE,Helme,10.810000,51.468000,10.810000,51.468000,200.600000,NaN,...,65,770,23437,0.0,23437,TH,DE02108,DE00,2108,DETH2108
DE02109,5755000000,Nordhausen,DE,Zorge,10.784000,51.507000,10.784000,51.507000,303.600000,NaN,...,69,818,24891,7.0,24650,TH,DE02109,DE00,2109,DETH2109
DE02110,5756600000,Ilfeld,DE,Bere,10.786000,51.598000,10.786000,51.598000,62.300000,NaN,...,71,842,25629,0.0,25629,TH,DE02110,DE00,2110,DETH2110

* ### Belgium

In [28]:
# Subset only Belgium
network_EU_net_BE = network_EU_net[network_EU_net.gauge_country == "BE"]

## Create a new column 'new_code' by concatenating 'region' and 'numeric_part'
network_EU_net_BE['new_code'] = "BE" + network_EU_net_BE['region'] + network_EU_net_BE['numeric_part']

network_EU_net_BE

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region,old_code,first_four_digits,numeric_part,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
BE00001,10461002,Bierges,BE,Dyle,4.606129,50.710583,4.606129,50.710583,310.0,NaN,...,47,564,17162,5.0,15955,WA,BE00001,BE00,0001,BEWA0001
BE00002,19511002,Tubize,BE,Senne,4.196446,50.690256,4.196446,50.690256,215.0,NaN,...,24,288,8766,0.0,8766,WA,BE00002,BE00,0002,BEWA0002
BE00003,23711002,Ronquieres,BE,Samme,4.224809,50.605923,4.224809,50.605923,135.0,NaN,...,33,396,12053,0.0,12053,WA,BE00003,BE00,0003,BEWA0003
BE00004,29521002,Irchonwelz,BE,DendreOrientale,3.751661,50.618903,3.751661,50.618903,126.0,NaN,...,44,528,16071,0.0,16071,WA,BE00004,BE00,0004,BEWA0004
BE00005,29711002,Ath,BE,DendreOrientale,3.777834,50.633521,3.777834,50.633521,229.0,NaN,...,45,540,16436,0.0,16436,WA,BE00005,BE00,0005,BEWA0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BE00226,01L07_287,Ternat,BE,Steenvoordebeek,4.176000,50.876000,4.176000,50.876000,NaN,NaN,...,40,454,13456,1314.0,3758,VL,BE00226,BE00,0226,BEVL0226
BE00227,01L07_289,Viane,BE,Mark,3.892000,50.741000,3.892000,50.741000,NaN,NaN,...,48,556,16430,700.0,1905,VL,BE00227,BE00,0227,BEVL0227
BE00228,01L01_493,Vlamertinge,BE,Grote Kemmelbeek,2.811000,50.844000,2.811000,50.844000,NaN,NaN,...,41,475,13350,2416.0,9860,VL,BE00228,BE00,0228,BEVL0228
BE00229,01LS09_165,Wellen,BE,Herk,5.326000,50.850000,5.326000,50.850000,NaN,NaN,...,52,593,17571,1291.0,3603,VL,BE00229,BE00,0229,BEVL0229
BE00230,01L09_143,Wezemaal,BE,Grote Losting,4.744000,50.943000,4.744000,50.943000,NaN,NaN,...,38,443,13263,261.0,2036,VL,BE00230,BE00,0230,BEVL0230

In [29]:
# here we replace only for Germany and check the results:
network_EU_net.loc[network_EU_net_BE.index, "new_code"] = network_EU_net_BE['new_code']
network_EU_net[network_EU_net.gauge_country == "BE"]

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region,old_code,first_four_digits,numeric_part,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
BE00001,10461002,Bierges,BE,Dyle,4.606129,50.710583,4.606129,50.710583,310.0,NaN,...,47,564,17162,5.0,15955,WA,BE00001,BE00,0001,BEWA0001
BE00002,19511002,Tubize,BE,Senne,4.196446,50.690256,4.196446,50.690256,215.0,NaN,...,24,288,8766,0.0,8766,WA,BE00002,BE00,0002,BEWA0002
BE00003,23711002,Ronquieres,BE,Samme,4.224809,50.605923,4.224809,50.605923,135.0,NaN,...,33,396,12053,0.0,12053,WA,BE00003,BE00,0003,BEWA0003
BE00004,29521002,Irchonwelz,BE,DendreOrientale,3.751661,50.618903,3.751661,50.618903,126.0,NaN,...,44,528,16071,0.0,16071,WA,BE00004,BE00,0004,BEWA0004
BE00005,29711002,Ath,BE,DendreOrientale,3.777834,50.633521,3.777834,50.633521,229.0,NaN,...,45,540,16436,0.0,16436,WA,BE00005,BE00,0005,BEWA0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BE00226,01L07_287,Ternat,BE,Steenvoordebeek,4.176000,50.876000,4.176000,50.876000,NaN,NaN,...,40,454,13456,1314.0,3758,VL,BE00226,BE00,0226,BEVL0226
BE00227,01L07_289,Viane,BE,Mark,3.892000,50.741000,3.892000,50.741000,NaN,NaN,...,48,556,16430,700.0,1905,VL,BE00227,BE00,0227,BEVL0227
BE00228,01L01_493,Vlamertinge,BE,Grote Kemmelbeek,2.811000,50.844000,2.811000,50.844000,NaN,NaN,...,41,475,13350,2416.0,9860,VL,BE00228,BE00,0228,BEVL0228
BE00229,01LS09_165,Wellen,BE,Herk,5.326000,50.850000,5.326000,50.850000,NaN,NaN,...,52,593,17571,1291.0,3603,VL,BE00229,BE00,0229,BEVL0229
BE00230,01L09_143,Wezemaal,BE,Grote Losting,4.744000,50.943000,4.744000,50.943000,NaN,NaN,...,38,443,13263,261.0,2036,VL,BE00230,BE00,0230,BEVL0230

* ## Final adjusts

In [30]:
network_EU_net.drop(["region", "first_four_digits", "numeric_part"], axis = 1, inplace = True)
network_EU_net

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,old_code,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,AT,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,420,...,-0.440608,1996-01-01,2019-12-31,24,288,8766,0.0,8766,AT00001,AT000001
AT00002,200048,Schruns (Vonbunweg),AT,Litz,9.913677,47.080301,9.913677,47.080301,102.0,673,...,-0.281373,1958-10-01,2019-12-31,62,735,22372,0.0,22372,AT00002,AT000002
AT00003,231662,Loruens-Aeule,AT,Ill,9.847765,47.132821,9.847765,47.132821,535.2,579,...,-0.205344,1985-01-02,2019-12-31,35,420,12782,0.0,12782,AT00003,AT000003
AT00004,200592,Kloesterle (OEBB),AT,Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,1014,...,0.471471,1998-01-02,2019-12-31,22,264,8034,0.0,8034,AT00004,AT000004
AT00005,200097,Buers (Bruecke L82),AT,Alvier,9.802668,47.150770,9.802668,47.150770,72.2,564,...,-0.343490,1990-01-01,2019-12-31,30,360,10957,0.0,10957,AT00005,AT000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,UA,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,NaN,...,-1.361371,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR017,UAGR0017
UAGR018,6682500,YALTA,UA,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,16,...,4.237425,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR018,UAGR0018
UAGR019,6683010,PIONERSKOE,UA,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,307,...,6.233333,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR019,UAGR0019
UAGR020,6683200,TOKMAK,UA,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,NaN,...,3.806184,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR020,UAGR0020
UAGR021,6683300,NOVOSELOVKA,UA,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,118,...,-3.024055,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR021,UAGR0021

## Add data provider

In [31]:
# Read the catalogue
estreams_streamflow_catalogue = pd.read_excel("data/streamflow/estreams_streamflow_catalogue.xlsx")
estreams_streamflow_catalogue

,provider_id,code_basins,provider_country,country_code,provider_name,license_redistribution,platform,num_stations,boundaries,source_license,source_streamflow,source_gauges_infos,source_boundaries,references,observations
0,AT_EHYD,AT,AUSTRIA,AU,Hydrographie Oesterreichs (EHYD),-,Website,NaN,Available,NaN,https://ehyd.gv.at/,https://zenodo.org/record/5153305#.ZDUeaOZBwuU,https://zenodo.org/record/5153305#.ZDUeaOZBwuU,NaN,NaN
1,BA_FHMZ,BA,Bosnia and Herzegovina,BO,Federalni Hidrometeoroloski Zavod (FHMZ),-,Website,NaN,Not available,NaN,https://www.fhmzbih.gov.ba/latinica/HIDRO/godi...,https://www.fhmzbih.gov.ba/latinica/HIDRO/godi...,-,NaN,NaN
2,BE_SPW,BEWA,BELGIUM,BE,Service public de Wallonie (SPW),No-redistribution,Website,NaN,Not available,NaN,https://hydrometrie.wallonie.be,https://hydrometrie.wallonie.be,-,NaN,NaN
3,BE_WATERINFO,BEVL,BELGIUM,BE,Vlaanderen waterinfo,Reproduction allowed,Website,NaN,Not available,NaN,https://www.waterinfo.be/kaartencatalogus?KL=en,https://www.waterinfo.be/kaartencatalogus?KL=en,-,NaN,NaN
4,BG_GRDC,BGGR,BULGARIA,BG,Global Runoff Data Center (GRDC),No-redistribution,Website,NaN,Not available,NaN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,SE_SMHI,SE,SWEDEN,SE,Swedish Meteorological and Hydrological Instit...,CC BY 4.0,Website,NaN,Not available,NaN,https://vattenweb.smhi.se/station/#,https://vattenweb.smhi.se/station/#,-,NaN,NaN
66,SI_ARSO,SI,SLOVENIA,SI,Agencija Republike Slovenije za Okolje (ARSO),-,Website,NaN,Not available,NaN,https://vode.arso.gov.si/hidarhiv/,https://vode.arso.gov.si/hidarhiv/,-,NaN,NaN
67,SK_GRDC,SKGR,SLOVAKIA,SK,Global Runoff Data Center (GRDC),No-redistribution,Website,NaN,Not available,NaN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,NaN,NaN
68,TR_GRDC,TRGR,TURKEY,TR,Global Runoff Data Center (GRDC),No-redistribution,Website,NaN,Not available,NaN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,NaN,NaN
69,UA_GRDC,UAGR,UKRAINE,UA,Global Runoff Data Center (GRDC),No-redistribution,Website,NaN,Not available,NaN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,NaN,NaN

In [32]:
# Assign the values for each gauge
network_EU_net["gauge_provider"] = np.nan

for code, provider_id in tqdm(zip(estreams_streamflow_catalogue.code_basins, estreams_streamflow_catalogue.provider_id)):
    network_EU_net_code = network_EU_net[network_EU_net.new_code.str.contains(code, case=False)]
    network_EU_net.loc[network_EU_net_code.index, "gauge_provider"] = provider_id

70it [00:00, 326.96it/s]

In [33]:
network_EU_net

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,old_code,new_code,gauge_provider
basin_id,,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,AT,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,420,...,1996-01-01,2019-12-31,24,288,8766,0.0,8766,AT00001,AT000001,AT_EHYD
AT00002,200048,Schruns (Vonbunweg),AT,Litz,9.913677,47.080301,9.913677,47.080301,102.0,673,...,1958-10-01,2019-12-31,62,735,22372,0.0,22372,AT00002,AT000002,AT_EHYD
AT00003,231662,Loruens-Aeule,AT,Ill,9.847765,47.132821,9.847765,47.132821,535.2,579,...,1985-01-02,2019-12-31,35,420,12782,0.0,12782,AT00003,AT000003,AT_EHYD
AT00004,200592,Kloesterle (OEBB),AT,Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,1014,...,1998-01-02,2019-12-31,22,264,8034,0.0,8034,AT00004,AT000004,AT_EHYD
AT00005,200097,Buers (Bruecke L82),AT,Alvier,9.802668,47.150770,9.802668,47.150770,72.2,564,...,1990-01-01,2019-12-31,30,360,10957,0.0,10957,AT00005,AT000005,AT_EHYD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,UA,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,NaN,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR017,UAGR0017,UA_GRDC
UAGR018,6682500,YALTA,UA,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,16,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR018,UAGR0018,UA_GRDC
UAGR019,6683010,PIONERSKOE,UA,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,307,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR019,UAGR0019,UA_GRDC
UAGR020,6683200,TOKMAK,UA,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,NaN,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR020,UAGR0020,UA_GRDC
UAGR021,6683300,NOVOSELOVKA,UA,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,118,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR021,UAGR0021,UA_GRDC

In [34]:
# Check the data
network_EU_net[network_EU_net.gauge_provider.isna()]

Empty DataFrame
Columns: [gauge_id, gauge_name, gauge_country, river, lon, lat, lon_r, lat_r, area_r, elevation, area_c, area_flag, area_perc, start_date, end_date, num_years, num_months, num_days, num_days_gaps, num_continuous_days, old_code, new_code, gauge_provider]
Index: []

[0 rows x 23 columns]

In [35]:
network_EU_net.columns

Index(['gauge_id', 'gauge_name', 'gauge_country', 'river', 'lon', 'lat',
       'lon_r', 'lat_r', 'area_r', 'elevation', 'area_c', 'area_flag',
       'area_perc', 'start_date', 'end_date', 'num_years', 'num_months',
       'num_days', 'num_days_gaps', 'num_continuous_days', 'old_code',
       'new_code', 'gauge_provider'],
      dtype='object')

## Organize the columns

In [36]:
# Subset the data for only catchments with valid areas:
timeseries_EU = timeseries_EU.loc[:, catchment_boundaries.index]
network_EU_net = network_EU_net.loc[catchment_boundaries.index, :]
network_EU_net

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,old_code,new_code,gauge_provider
id,,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,AT,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,420,...,1996-01-01,2019-12-31,24,288,8766,0.0,8766,AT00001,AT000001,AT_EHYD
AT00002,200048,Schruns (Vonbunweg),AT,Litz,9.913677,47.080301,9.913677,47.080301,102.0,673,...,1958-10-01,2019-12-31,62,735,22372,0.0,22372,AT00002,AT000002,AT_EHYD
AT00003,231662,Loruens-Aeule,AT,Ill,9.847765,47.132821,9.847765,47.132821,535.2,579,...,1985-01-02,2019-12-31,35,420,12782,0.0,12782,AT00003,AT000003,AT_EHYD
AT00004,200592,Kloesterle (OEBB),AT,Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,1014,...,1998-01-02,2019-12-31,22,264,8034,0.0,8034,AT00004,AT000004,AT_EHYD
AT00005,200097,Buers (Bruecke L82),AT,Alvier,9.802668,47.150770,9.802668,47.150770,72.2,564,...,1990-01-01,2019-12-31,30,360,10957,0.0,10957,AT00005,AT000005,AT_EHYD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,UA,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,NaN,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR017,UAGR0017,UA_GRDC
UAGR018,6682500,YALTA,UA,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,16,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR018,UAGR0018,UA_GRDC
UAGR019,6683010,PIONERSKOE,UA,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,307,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR019,UAGR0019,UA_GRDC
UAGR020,6683200,TOKMAK,UA,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,NaN,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR020,UAGR0020,UA_GRDC
UAGR021,6683300,NOVOSELOVKA,UA,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,118,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR021,UAGR0021,UA_GRDC

In [37]:
network_EU_net.columns = ['gauge_id', 'gauge_name', 'gauge_country', 'river', 'lon_snap', 'lat_snap',
                          'lon', 'lat', 'area', 'elevation', 'area_calc', 'area_flag',
                          'area_perc', 'start_date', 'end_date', 'num_years', 'num_months',
                          'num_days', 'num_days_gaps', 'num_continuous_days', 'old_code', 'new_code', 'gauge_provider']

network_EU_net = network_EU_net[['gauge_id', 'gauge_name', 'gauge_country', 'gauge_provider', 'river', 'lon_snap',
                                 'lat_snap', 'lon', 'lat', 'area', 'elevation', 
                                 'area_calc', 'area_flag', 'area_perc',
                                 'start_date', 'end_date', 'num_years', 'num_months', 'num_days',
                                 'num_days_gaps', 'num_continuous_days', 'new_code']]

network_EU_net

,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,area,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
id,,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,AT,AT_EHYD,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,...,0,-0.440608,1996-01-01,2019-12-31,24,288,8766,0.0,8766,AT000001
AT00002,200048,Schruns (Vonbunweg),AT,AT_EHYD,Litz,9.913677,47.080301,9.913677,47.080301,102.0,...,0,-0.281373,1958-10-01,2019-12-31,62,735,22372,0.0,22372,AT000002
AT00003,231662,Loruens-Aeule,AT,AT_EHYD,Ill,9.847765,47.132821,9.847765,47.132821,535.2,...,0,-0.205344,1985-01-02,2019-12-31,35,420,12782,0.0,12782,AT000003
AT00004,200592,Kloesterle (OEBB),AT,AT_EHYD,Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,...,0,0.471471,1998-01-02,2019-12-31,22,264,8034,0.0,8034,AT000004
AT00005,200097,Buers (Bruecke L82),AT,AT_EHYD,Alvier,9.802668,47.150770,9.802668,47.150770,72.2,...,0,-0.343490,1990-01-01,2019-12-31,30,360,10957,0.0,10957,AT000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,UA,UA_GRDC,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,...,0,-1.361371,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0017
UAGR018,6682500,YALTA,UA,UA_GRDC,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,...,0,4.237425,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0018
UAGR019,6683010,PIONERSKOE,UA,UA_GRDC,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,...,1,6.233333,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0019
UAGR020,6683200,TOKMAK,UA,UA_GRDC,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,...,0,3.806184,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0020
UAGR021,6683300,NOVOSELOVKA,UA,UA_GRDC,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,...,0,-3.024055,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0021

In [38]:
network_EU_net.index.name = "basin_id"
network_EU_net

,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,area,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,AT,AT_EHYD,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,...,0,-0.440608,1996-01-01,2019-12-31,24,288,8766,0.0,8766,AT000001
AT00002,200048,Schruns (Vonbunweg),AT,AT_EHYD,Litz,9.913677,47.080301,9.913677,47.080301,102.0,...,0,-0.281373,1958-10-01,2019-12-31,62,735,22372,0.0,22372,AT000002
AT00003,231662,Loruens-Aeule,AT,AT_EHYD,Ill,9.847765,47.132821,9.847765,47.132821,535.2,...,0,-0.205344,1985-01-02,2019-12-31,35,420,12782,0.0,12782,AT000003
AT00004,200592,Kloesterle (OEBB),AT,AT_EHYD,Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,...,0,0.471471,1998-01-02,2019-12-31,22,264,8034,0.0,8034,AT000004
AT00005,200097,Buers (Bruecke L82),AT,AT_EHYD,Alvier,9.802668,47.150770,9.802668,47.150770,72.2,...,0,-0.343490,1990-01-01,2019-12-31,30,360,10957,0.0,10957,AT000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,UA,UA_GRDC,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,...,0,-1.361371,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0017
UAGR018,6682500,YALTA,UA,UA_GRDC,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,...,0,4.237425,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0018
UAGR019,6683010,PIONERSKOE,UA,UA_GRDC,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,...,1,6.233333,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0019
UAGR020,6683200,TOKMAK,UA,UA_GRDC,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,...,0,3.806184,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0020
UAGR021,6683300,NOVOSELOVKA,UA,UA_GRDC,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,...,0,-3.024055,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0021

In [39]:
# Save the new data:
network_EU_net.to_excel('results/estreams_gauging_stations.xlsx')
#timeseries_EU.to_csv('results/estreams_timeseries_streamflow.csv')

## Retrieve the original (correct gauge name) from the metadata
* This additional step is needed for cases where the gauge name has "non-English" characters. 
* this appled to the "gauge_name" and "river".

In [310]:
# Full network:
network_EU = pd.read_excel('results/estreams_gauging_stations.xlsx')
network_EU.set_index("basin_id", inplace = True)
network_EU

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
AT00001,0,200014,Bangs,AT,AT_EHYD,Rhein,9.534835,47.273748,9.534835,47.273748,...,0,-0.440608,1996-01-01,2019-12-31,24,288,8766,0.0,8766,AT000001
AT00002,1,200048,Schruns (Vonbunweg),AT,AT_EHYD,Litz,9.913677,47.080301,9.913677,47.080301,...,0,-0.281373,1958-10-01,2019-12-31,62,735,22372,0.0,22372,AT000002
AT00003,2,231662,Loruens-Aeule,AT,AT_EHYD,Ill,9.847765,47.132821,9.847765,47.132821,...,0,-0.205344,1985-01-02,2019-12-31,35,420,12782,0.0,12782,AT000003
AT00004,3,200592,Kloesterle (OEBB),AT,AT_EHYD,Alfenz,10.061843,47.128994,10.061843,47.128994,...,0,0.471471,1998-01-02,2019-12-31,22,264,8034,0.0,8034,AT000004
AT00005,4,200097,Buers (Bruecke L82),AT,AT_EHYD,Alvier,9.802668,47.150770,9.802668,47.150770,...,0,-0.343490,1990-01-01,2019-12-31,30,360,10957,0.0,10957,AT000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,15009,6682300,BASHTANOVKA,UA,UA_GRDC,KACHA,33.894739,44.691884,33.900000,44.683333,...,0,-1.361371,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0017
UAGR018,15010,6682500,YALTA,UA,UA_GRDC,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,...,0,4.237425,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0018
UAGR019,15011,6683010,PIONERSKOE,UA,UA_GRDC,SALHYR,34.199841,44.887685,34.200000,44.883333,...,1,6.233333,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0019
UAGR020,15012,6683200,TOKMAK,UA,UA_GRDC,TOKMAK,35.705833,47.251389,35.705833,47.251389,...,0,3.806184,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0020
UAGR021,15013,6683300,NOVOSELOVKA,UA,UA_GRDC,KRYNKA,38.144722,48.153333,38.144722,48.153333,...,0,-3.024055,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0021

## Here we check the potential candidates for correction:

In [311]:
network_EU.gauge_country.unique()

array(['AT', 'BA', 'BE', 'BG', 'BY', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE',
       'ES', 'FI', 'FR', 'GB', 'GR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT',
       'LU', 'LV', 'MD', 'MK', 'NI', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS',
       'RU', 'SE', 'SI', 'SK', 'TR', 'UA'], dtype=object)

In [312]:
network_EU.loc[network_EU.gauge_country == "IT", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
ITABR441,11665,Aterno a Molina,Aterno a Molina,IT,IT_ABR_CONTACTFORM,Aterno,13.753056,42.137222,13.753056,42.137222,...,0,2.244743,2014-01-01,2023-06-24,10,114,3454,8.0,1954,ITAB0441
ITABR442,11666,Aterno a Tre Ponti,Aterno a Tre Ponti,IT,IT_ABR_CONTACTFORM,Aterno,13.258056,42.476389,13.258056,42.476389,...,3,-43.714035,2014-01-01,2023-06-24,10,113,3250,212.0,620,ITAB0442
ITABR443,11667,Feltrino a San Vito,Feltrino a San Vito,IT,IT_ABR_CONTACTFORM,Feltrino,14.439444,42.296389,14.439444,42.296389,...,0,4.300000,2014-01-01,2023-06-24,10,114,3411,51.0,937,ITAB0443
ITABR444,11668,Pescara a Maraone,Pescara a Maraone,IT,IT_ABR_CONTACTFORM,Pescara,13.838611,42.180000,13.838611,42.180000,...,0,1.606141,2014-01-01,2023-06-24,10,114,3455,7.0,1723,ITAB0444
ITABR445,11669,Sagittario a Capo Canale,Sagittario a Capo Canale,IT,IT_ABR_CONTACTFORM,Sagittario,13.866389,42.123333,13.866389,42.123333,...,0,-0.412688,2014-01-01,2023-06-24,10,114,3456,6.0,2189,ITAB0445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ITVEN436,12427,271VE,Piave a Belluno Ponte Vittoria,IT,IT_VEN,Piave,12.218586,46.134222,12.218586,46.134222,...,0,NaN,2020-05-16,2022-12-31,3,30,826,134.0,422,ITVE0436
ITVEN437,12428,277VE,Cordevole a Ponte Mas,IT,IT_VEN,Cordevole,12.125220,46.154313,12.125220,46.154313,...,0,-0.710345,2002-11-27,2022-12-31,21,213,6032,1308.0,2121,ITVE0437
ITVEN438,12429,327VE,Piave a Segusino,IT,IT_VEN,Piave,11.948837,45.922490,11.948837,45.922490,...,0,-1.500980,2004-01-01,2022-12-31,19,216,6284,656.0,2041,ITVE0438
ITVEN439,12430,374VE,Brenta a Enego,IT,IT_VEN,Brenta,11.715000,45.954413,11.715000,45.954413,...,0,-2.210217,2005-12-08,2022-12-31,18,204,6062,171.0,2384,ITVE0439
ITVEN440,12431,557VE,Piave a Belluno unificata,IT,IT_VEN,Piave,12.228124,46.127896,12.228124,46.127896,...,0,0.107121,2014-05-29,2018-10-31,5,54,1615,2.0,1614,ITVE0440

* Countries with problem: BA, CH, DE, DK, ES, FI, FR, GR, HR, IT,NO, PL, PT, SE, SI

### Here we read and process the metada

In [313]:
# Bosnia and Herz. (remember to convert the "code" and to set the index):
network_BA = pd.read_excel('data/gauges_metadata/network_BAo.xlsx')
network_BA.set_index("new_code", inplace = True)
network_BA

,Unnamed: 0,New_code_official,Number,Name,River,Cota,Area,x_m,y_m,Lat,Lon,Lon_wgs84,Lat_wgs84
new_code,,,,,,,,,,,,,
BA00001,0,Martin Brod,H7,Martin Brod,Una,310.30,1459.0,5590615.21,4928537.53,"44° 29' 44""","16° 08' 05""",16.134722,44.495556
BA00002,1,Kljuc,H19,Klju?,Sana,247.09,754.0,6404724.30,4931873.29,"44° 31' 30""","16° 47' 47""",16.796389,44.525000
BA00003,2,Vrhpolje,H20,Vrhpolje,Sana,177.64,NaN,6400277.99,4950228.13,"44° 41' 23""","16° 44' 13""",16.736944,44.689722
BA00004,3,Sanski Most,H21,Sanski Most,Sana,156.04,2008.0,6394826.53,4958864.80,"44° 45' 59""","16° 39' 58""",16.666111,44.766389
BA00005,4,Hrustovo,H23,Hrustovo,Sanica,179.19,NaN,6400014.06,4949286.38,"44° 40' 49""","16° 44' 03""",16.734167,44.680278
...,...,...,...,...,...,...,...,...,...,...,...,...,...
BA00087,86,Praca,H88,Pra?a,Pra?a,684.47,NaN,6561975.28,4847230.48,"43° 46' 01""","18° 45' 53""",18.764722,43.766944
BA00088,87,Bliha,H24,Bliha,Bliha,164.95,NaN,6393012.18,4959573.91,"44° 46' 19""","16° 38' 38""",16.643889,44.771944
BA00089,88,Zepce,H42,Žep?e,Bosna,224.22,NaN,6502070.57,4919923.85,"44° 25' 27""","18° 01' 15""",18.020833,44.424167
BA00090,89,Tesanjka,H76,Tešanjka,Usora,150.70,NaN,6501966.52,4948177.67,"44° 40' 41""","18° 01' 11""",18.019722,44.678056
BA00091,90,Novi grad/Safet Zajko,H112,Novi grad/Safet Zajko,Miljacka,496.86,NaN,NaN,NaN,"43° 51' 53""","18° 20' 13""",18.336944,43.864722

In [314]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_EU.gauge_country == "BA", "gauge_name"] = network_BA.loc[network_EU.loc[network_EU.gauge_country == "BA", "gauge_name"].index, "Name"]
# river
network_EU.loc[network_EU.gauge_country == "BA", "river"] = network_BA.loc[network_EU.loc[network_EU.gauge_country == "BA", "gauge_name"].index, "River"]

# Check:
network_EU.loc[network_EU.gauge_country == "BA", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
BA00001,582,Martin Brod,Martin Brod,BA,BA_FHMZ,Una,16.134722,44.495556,16.134722,44.495556,...,888,20.574777,1987-01-01,2019-12-31,21,243,7348,4705.0,4879,BA000001
BA00002,583,Kljuc,Klju?,BA,BA_FHMZ,Sana,16.796389,44.525000,16.796389,44.525000,...,5,-6.150928,1987-01-01,2019-12-31,20,234,7096,4957.0,5635,BA000002
BA00003,584,Vrhpolje,Vrhpolje,BA,BA_FHMZ,Sana,16.736944,44.689722,16.736944,44.689722,...,999,NaN,1987-01-01,2019-12-31,8,91,2770,9283.0,1309,BA000003
BA00004,585,Sanski Most,Sanski Most,BA,BA_FHMZ,Sana,16.666111,44.766389,16.666111,44.766389,...,5,14.706823,1987-01-01,2019-12-31,23,276,8400,3653.0,6939,BA000004
BA00005,586,Hrustovo,Hrustovo,BA,BA_FHMZ,Sanica,16.734167,44.680278,16.734167,44.680278,...,4,NaN,1987-01-01,2019-12-31,20,234,7093,4960.0,4231,BA000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BA00087,668,Praca,Pra?a,BA,BA_FHMZ,Pra?a,18.764722,43.766944,18.764722,43.766944,...,4,NaN,2017-01-01,2019-12-31,3,36,1095,0.0,1095,BA000087
BA00088,669,Bliha,Bliha,BA,BA_FHMZ,Bliha,16.643889,44.771944,16.643889,44.771944,...,999,NaN,2018-01-01,2019-12-31,2,24,730,0.0,730,BA000088
BA00089,670,Zepce,Žep?e,BA,BA_FHMZ,Bosna,18.020833,44.424167,18.020833,44.424167,...,2,NaN,2018-01-01,2019-12-31,2,24,730,0.0,730,BA000089
BA00090,671,Tesanjka,Tešanjka,BA,BA_FHMZ,Usora,18.019722,44.678056,18.019722,44.678056,...,4,NaN,2018-01-01,2019-12-31,2,24,730,0.0,730,BA000090
BA00091,672,Novi grad/Safet Zajko,Novi grad/Safet Zajko,BA,BA_FHMZ,Miljacka,18.332129,43.845849,18.336944,43.864722,...,2,NaN,2019-01-01,2019-12-31,1,12,365,0.0,365,BA000091

In [315]:
# Switzerland (remember to convert the "code" and to set the index):
network_CH = pd.read_excel('data/gauges_metadata/network_CHo.xlsx')
network_CH.set_index("new_code", inplace = True)
network_CH

,Unnamed: 0,gauge_id,country,gauge_name,water_body_name,id6,water_body_type,gauge_lon,gauge_lat,gauge_easting,...,elev_percentile10,elev_percentile25,elev_percentile50,elev_percentile75,elev_percentile90,elev_max,slope_mean,flat_area_perc,steep_area_perc,num_reservoir
new_code,,,,,,,,,,,,,,,,,,,,,
CH00001,0,2009,CH,Porte_du_Scex,Rhône,RhoPor,stream,6.89,46.35,2557660,...,1015.99,1560.86,2191.36,2698.04,3103.99,4521.34,25.72,3.62,79.60,32
CH00002,1,2011,CH,Sion,Rhône,RhoSio,stream,7.36,46.22,2593770,...,1209.13,1778.17,2379.66,2821.90,3208.04,4521.34,25.82,2.83,80.15,20
CH00003,2,2016,CH,Brugg,Aare,AarBru,stream,8.19,47.48,2657000,...,461.14,568.54,791.46,1253.59,1847.46,4084.22,12.83,23.13,32.95,18
CH00004,3,2018,CH,Mellingen,Reuss,ReuMel,stream,8.27,47.42,2662830,...,440.17,600.14,1130.52,1777.54,2312.89,3597.23,19.15,15.24,56.07,11
CH00005,4,2019,CH,Brienzwiler,Aare,AarBri,stream,8.09,46.75,2649930,...,1171.15,1683.87,2187.08,2624.05,2954.97,4084.22,27.72,2.88,82.16,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CH00294,293,6007,I,Candoglia,Fiume_Toce,TocCan,stream,8.42,45.97,2676202,...,639.53,1133.32,1724.32,2222.43,2566.44,4517.33,28.61,4.08,85.14,1
CH00295,294,6008,I,Gravellona,Torrente_Strona,StrGra,stream,8.43,45.93,2677233,...,292.04,459.97,824.81,1184.37,1591.03,2379.77,21.26,10.89,68.41,0
CH00296,295,6009,I,Santino,Torrente_San_Bernardino,SaBSan,stream,8.53,45.96,2684260,...,648.57,942.48,1265.41,1573.46,1805.80,2274.60,31.66,0.27,93.60,0
CH00297,296,6010,I,Verbania,Torrente_San_Giovanni,SaGVer,stream,8.58,45.94,2688426,...,402.41,637.08,922.57,1162.51,1383.42,2117.61,24.84,2.33,80.71,0
CH00298,297,6011,I,Miorina,Ticino,TicMio,stream,8.65,45.70,2694281,...,275.62,633.08,1270.66,1892.85,2308.00,4517.33,24.96,10.01,75.10,24

In [316]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_EU.gauge_country == "CH", "gauge_name"] = network_CH.loc[network_EU.loc[network_EU.gauge_country == "CH", "gauge_name"].index, "gauge_name"]
# river
network_EU.loc[network_EU.gauge_country == "CH", "river"] = network_CH.loc[network_EU.loc[network_EU.gauge_country == "CH", "gauge_name"].index, "water_body_name"]

# Check:
network_EU.loc[network_EU.gauge_country == "CH", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
CH00001,962,2009,Porte_du_Scex,CH,CH_CAMELS,Rhône,6.89,46.35,6.89,46.35,...,0,-0.005840,1981-01-01,2020-12-31,40,480,14610,0.0,14610,CH000001
CH00002,963,2011,Sion,CH,CH_CAMELS,Rhône,7.36,46.22,7.36,46.22,...,0,-0.008332,1981-01-01,2020-12-31,40,480,14610,0.0,14610,CH000002
CH00003,964,2016,Brugg,CH,CH_CAMELS,Aare,8.19,47.48,8.19,47.48,...,0,-0.020854,1981-01-01,2020-12-31,40,480,14610,0.0,14610,CH000003
CH00004,965,2018,Mellingen,CH,CH_CAMELS,Reuss,8.27,47.42,8.27,47.42,...,0,-0.021029,1981-01-01,2020-12-31,40,480,14610,0.0,14610,CH000004
CH00005,966,2019,Brienzwiler,CH,CH_CAMELS,Aare,8.09,46.75,8.09,46.75,...,0,-0.012968,1981-01-01,2020-12-31,40,480,14610,0.0,14610,CH000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CH00294,1255,6007,Candoglia,CH,CH_CAMELS,Fiume_Toce,8.42,45.97,8.42,45.97,...,0,-0.001502,2000-01-01,2019-04-30,20,232,7044,16.0,3457,CH000294
CH00295,1256,6008,Gravellona,CH,CH_CAMELS,Torrente_Strona,8.43,45.93,8.43,45.93,...,0,0.025686,2002-01-01,2019-04-30,18,208,6316,13.0,2240,CH000295
CH00296,1257,6009,Santino,CH,CH_CAMELS,Torrente_San_Bernardino,8.53,45.96,8.53,45.96,...,0,0.005757,2003-01-01,2017-12-31,15,180,5471,8.0,3572,CH000296
CH00297,1258,6010,Verbania,CH,CH_CAMELS,Torrente_San_Giovanni,8.58,45.94,8.58,45.94,...,0,0.083056,2007-01-01,2012-12-31,6,72,2192,0.0,2192,CH000297
CH00298,1259,6011,Miorina,CH,CH_CAMELS,Ticino,8.65,45.70,8.65,45.70,...,0,-0.003718,2013-07-15,2019-12-16,7,76,2155,191.0,284,CH000298

In [317]:
# Denmark (remember to convert the "code" and to set the index):
network_DK = pd.read_excel('data/gauges_metadata/network_DKo.xlsx')
network_DK.code = network_DK.code.astype(str)
network_DK.set_index("new_code", inplace = True)
network_DK

,Unnamed: 0,code,name,river,area (km2),elev,lon,lat,country,start_date,end_date
new_code,,,,,,,,,,,
DK00001,0,32000001,"VEJLE Å, HARALDSKÆR",NaN,198.922700,NaN,9.438299,55.701426,DK,1917-05-24,2022-12-31
DK00002,1,32000002,"VEJLE Å, REFSGÅRDSLUND",NaN,131.932900,NaN,9.291508,55.649298,DK,1975-01-01,2021-12-31
DK00003,2,32000004,"GREJS Å, GREJSDALENS PLANTESKOLE",NaN,63.408180,NaN,9.522822,55.757453,DK,1984-05-17,2022-12-31
DK00004,3,32000005,"HØJEN Å, STOKBRO OS TILLØB",NaN,15.110000,NaN,9.522963,55.677436,DK,1986-01-01,1989-12-31
DK00005,4,32000013,"VEJLE Å, AFLØB ENGELSHOLM SØ",NaN,15.672310,NaN,9.306160,55.716518,DK,1989-01-01,2022-12-31
...,...,...,...,...,...,...,...,...,...,...,...
DK01005,1004,60000212,"LANDSLEDGRØFT, SLOTSHØJ",NaN,6.435000,NaN,12.355949,54.987305,DK,2018-01-01,2022-12-31
DK01006,1005,42000019,"BALLEDAM KANAL, T.T. ST.SØGÅRD SØ, C3",NaN,3.396257,NaN,9.430869,54.929884,DK,1989-01-01,2022-12-31
DK01007,1006,42000021,"VIDÅ, EMMERSKE",NaN,247.879000,NaN,8.929203,54.953579,DK,1978-01-01,2022-12-31
DK01008,1007,42000379,"Uge Bæk, Øst for bro ved vejen fra Fres",NaN,44.978910,NaN,9.148421,54.937629,DK,2017-01-01,2022-12-31
DK01009,1008,28000255,"Bygholm Å, Omløbsstryg 400 m ns. Sø",NaN,178.450000,NaN,9.826790,55.868022,DK,2020-01-01,2022-12-31

In [318]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_EU.gauge_country == "DK", "gauge_name"] = network_DK.loc[network_EU.loc[network_EU.gauge_country == "DK", "gauge_name"].index, "name"].str.split(',').str[1]
# river
network_EU.loc[network_EU.gauge_country == "DK", "river"] = network_DK.loc[network_EU.loc[network_EU.gauge_country == "DK", "gauge_name"].index, "name"].str.split(',').str[0]

# Check:
network_EU.loc[network_EU.gauge_country == "DK", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
DK00001,3933,32000001,HARALDSKÆR,DK,DK_ODA,VEJLE Å,9.438299,55.701426,9.438299,55.701426,...,0,-2.533296,1917-05-24,2022-12-31,91,1075,32663,5910.0,17123,DK000001
DK00002,3934,32000002,REFSGÅRDSLUND,DK,DK_ODA,VEJLE Å,9.291508,55.649298,9.291508,55.649298,...,0,-4.321970,1975-01-01,2021-12-31,29,337,10243,6924.0,8401,DK000002
DK00003,3935,32000004,GREJSDALENS PLANTESKOLE,DK,DK_ODA,GREJS Å,9.522822,55.757453,9.522822,55.757453,...,0,1.299801,1984-05-17,2022-12-31,39,464,14108,0.0,14108,DK000003
DK00004,3936,32000005,STOKBRO OS TILLØB,DK,DK_ODA,HØJEN Å,9.522963,55.677436,9.522963,55.677436,...,999,-12.210457,1986-01-01,1989-12-31,4,48,1461,0.0,1461,DK000004
DK00005,3937,32000013,AFLØB ENGELSHOLM SØ,DK,DK_ODA,VEJLE Å,9.306160,55.716518,9.306160,55.716518,...,0,0.978222,1989-01-01,2022-12-31,34,408,12418,0.0,12418,DK000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DK01005,4928,60000212,SLOTSHØJ,DK,DK_ODA,LANDSLEDGRØFT,12.355949,54.987305,12.355949,54.987305,...,999,56.099456,2018-01-01,2022-12-31,5,60,1780,46.0,1661,DK001005
DK01006,4929,42000019,T.T. ST.SØGÅRD SØ,DK,DK_ODA,BALLEDAM KANAL,9.430869,54.929884,9.430869,54.929884,...,999,4.836413,1989-01-01,2022-12-31,34,408,12418,0.0,12418,DK001006
DK01007,4930,42000021,EMMERSKE,DK,DK_ODA,VIDÅ,8.929203,54.953579,8.929203,54.953579,...,0,1.782321,1978-01-01,2022-12-31,45,540,16436,0.0,16436,DK001007
DK01008,4931,42000379,Øst for bro ved vejen fra Fres,DK,DK_ODA,Uge Bæk,9.148421,54.937629,9.148421,54.937629,...,999,15.711608,2017-01-01,2022-12-31,6,72,2191,0.0,2191,DK001008
DK01009,4932,28000255,Omløbsstryg 400 m ns. Sø,DK,DK_ODA,Bygholm Å,9.826790,55.868022,9.826790,55.868022,...,0,1.112356,2020-01-01,2022-12-31,3,36,1096,0.0,1096,DK001009

In [319]:
# Spain (remember to convert the "code" and to set the index):
network_ES = pd.read_csv('data/gauges_metadata/network_ES.csv')
network_ES.Code = network_ES.Code.astype(str)
network_ES.set_index("Code", inplace = True)
network_ES

,Unnamed: 0,Name,area_km2,area_total_km2,Elev,Watershed,Lon,Lat,xetrs89,yetrs89,geometry
Code,,,,,,,,,,,
1033,0,PUENTE DE SAMA,557,4866,208.0,1152,-5.684698,43.299024,282234,4797522,POINT (-5.684697674046335 43.29902380735064)
1034,1,PUENTE DE LAS SEGADAS,663,4866,129.0,1152,-5.864331,43.307269,267694,4798922,POINT (-5.864330654146332 43.30726875700994)
1036,2,PUENTE DE SOVILLA,374,375,285.0,1160,-5.788333,43.197750,273452,4786550,POINT (-5.7883332021847265 43.1977503161256)
1038,3,SOVILLA-VIA NORTE,313,923,285.0,1155,-5.790699,43.196738,273256,4786444,POINT (-5.790699268195703 43.196738146985865)
1040,4,FORNO,1657,4866,80.0,1166,-5.965804,43.348871,259628,4803830,POINT (-5.965804341224678 43.348871382027724)
...,...,...,...,...,...,...,...,...,...,...,...
3914,207,"BARRANCAS, LAS",29219,71364,378.0,3203,-4.684720,39.959878,356105,4424663,POINT (-4.684720009417 39.95987795083163)
3915,208,RINCON DEL BERCIAL,34686,71364,318.0,3249,-5.114693,39.787651,318925,4406328,POINT (-5.1146931411599255 39.78765141223268)
3916,209,VILLARREAL,41168,71364,181.0,3261,-6.050520,39.834065,238957,4413794,POINT (-6.050519673027603 39.834064648138764)
3919,210,ALCANTARA,46487,71364,121.0,3329,-6.803060,39.762681,174207,4408339,POINT (-6.803060098930241 39.762681258007895)
3940,211,GALISTEO,2672,5385,260.0,3352,-6.304471,39.982298,217831,4431024,POINT (-6.304470649706915 39.98229784677994)

In [320]:
# We need to change the columns names from Camels to match the EStreams:
# We need to convert the code to int
network_dict = network_EU.loc[network_EU.gauge_country == "ES", :]

# Now we create  a dictionary with the values:
code_dict = network_dict['gauge_id'].to_dict()

# Now we can invert the dictionary:
inverted_code_dict = {v: k for k, v in code_dict.items()}

# Add a new column to the DataFrame based on the dictionary and index
network_ES['new_code'] = network_ES.index.map(inverted_code_dict)

network_ES.set_index("new_code", inplace=True)

network_ES

,Unnamed: 0,Name,area_km2,area_total_km2,Elev,Watershed,Lon,Lat,xetrs89,yetrs89,geometry
new_code,,,,,,,,,,,
ES00001,0,PUENTE DE SAMA,557,4866,208.0,1152,-5.684698,43.299024,282234,4797522,POINT (-5.684697674046335 43.29902380735064)
ES00002,1,PUENTE DE LAS SEGADAS,663,4866,129.0,1152,-5.864331,43.307269,267694,4798922,POINT (-5.864330654146332 43.30726875700994)
ES00003,2,PUENTE DE SOVILLA,374,375,285.0,1160,-5.788333,43.197750,273452,4786550,POINT (-5.7883332021847265 43.1977503161256)
ES00004,3,SOVILLA-VIA NORTE,313,923,285.0,1155,-5.790699,43.196738,273256,4786444,POINT (-5.790699268195703 43.196738146985865)
ES00005,4,FORNO,1657,4866,80.0,1166,-5.965804,43.348871,259628,4803830,POINT (-5.965804341224678 43.348871382027724)
...,...,...,...,...,...,...,...,...,...,...,...
ES01436,207,"BARRANCAS, LAS",29219,71364,378.0,3203,-4.684720,39.959878,356105,4424663,POINT (-4.684720009417 39.95987795083163)
ES01437,208,RINCON DEL BERCIAL,34686,71364,318.0,3249,-5.114693,39.787651,318925,4406328,POINT (-5.1146931411599255 39.78765141223268)
ES01438,209,VILLARREAL,41168,71364,181.0,3261,-6.050520,39.834065,238957,4413794,POINT (-6.050519673027603 39.834064648138764)
ES01439,210,ALCANTARA,46487,71364,121.0,3329,-6.803060,39.762681,174207,4408339,POINT (-6.803060098930241 39.762681258007895)
ES01440,211,GALISTEO,2672,5385,260.0,3352,-6.304471,39.982298,217831,4431024,POINT (-6.304470649706915 39.98229784677994)

In [321]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_EU.gauge_country == "ES", "gauge_name"] = network_ES.loc[network_EU.loc[network_EU.gauge_country == "ES", "gauge_name"].index, "Name"]
# river
network_EU.loc[network_EU.gauge_country == "ES", "river"] = np.nan

# Check:
network_EU.loc[network_EU.gauge_country == "ES", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
ES00001,4987,1033,PUENTE DE SAMA,ES,ES_CEDEX,NaN,-5.684698,43.299024,-5.684698,43.299024,...,0,1.625673,NaT,NaT,0,0,0,NaN,0,ES000001
ES00002,4988,1034,PUENTE DE LAS SEGADAS,ES,ES_CEDEX,NaN,-5.864331,43.307269,-5.864331,43.307269,...,0,1.341931,NaT,NaT,0,0,0,NaN,0,ES000002
ES00003,4989,1036,PUENTE DE SOVILLA,ES,ES_CEDEX,NaN,-5.788333,43.197750,-5.788333,43.197750,...,999,-87.413904,NaT,NaT,0,0,0,NaN,0,ES000003
ES00004,4990,1038,SOVILLA-VIA NORTE,ES,ES_CEDEX,NaN,-5.790699,43.196738,-5.790699,43.196738,...,0,-2.507029,NaT,NaT,0,0,0,NaN,0,ES000004
ES00005,4991,1040,FORNO,ES,ES_CEDEX,NaN,-5.965804,43.348871,-5.965804,43.348871,...,0,0.056005,NaT,NaT,0,0,0,NaN,0,ES000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ES01436,6422,3914,"BARRANCAS, LAS",ES,ES_CEDEX,NaN,-4.684720,39.959878,-4.684720,39.959878,...,0,-0.441555,NaT,NaT,0,0,0,NaN,0,ES001436
ES01437,6423,3915,RINCON DEL BERCIAL,ES,ES_CEDEX,NaN,-5.114693,39.787651,-5.114693,39.787651,...,0,-0.461195,NaT,NaT,0,0,0,NaN,0,ES001437
ES01438,6424,3916,VILLARREAL,ES,ES_CEDEX,NaN,-6.050520,39.834065,-6.050520,39.834065,...,0,-0.278340,1942-10-01,1950-09-30,9,96,2921,1.0,2221,ES001438
ES01439,6425,3919,ALCANTARA,ES,ES_CEDEX,NaN,-6.803060,39.762681,-6.803060,39.762681,...,0,0.645849,NaT,NaT,0,0,0,NaN,0,ES001439
ES01440,6426,3940,GALISTEO,ES,ES_CEDEX,NaN,-6.304471,39.982298,-6.304471,39.982298,...,0,-1.860666,1981-10-01,2019-09-30,39,456,13807,72.0,8632,ES001440

In [322]:
# Finland (remember to convert the "code" and to set the index):
network_FI = pd.read_excel('data/gauges_metadata/network_FIo.xlsx')
network_FI.set_index("new_code", inplace = True)
network_FI

,Unnamed: 0,code,name,river,area,elev,lon,lat,lake,country
new_code,,,,,,,,,,
FI00001,0,5902650,"Nuasjärvi, Koivukoski",Oulujoki,7475.0,NaN,27.736529,64.226285,11.7,FI
FI00002,1,5902700,Nuasjärvi - luusua,Oulujoki,7475.0,NaN,27.736529,64.226285,11.7,FI
FI00003,2,6000110,Iso Puutiojärvi - luusua,Kiiminginjoki,371.0,NaN,27.595146,64.865324,4.6,FI
FI00004,3,6100614,Näljänkäjärvi - luusua,Iijoki,280.0,NaN,28.340834,65.037027,3.7,FI
FI00005,4,6100620,Suolijärvi - luusua,Iijoki,1313.0,NaN,28.069000,65.144550,3.9,FI
...,...,...,...,...,...,...,...,...,...,...
FI00665,664,6502150,Pirttikoski,Kemijoki,27703.0,NaN,27.155087,66.340055,5.2,FI
FI00666,665,6502151,"Juotas, konevirtaama",Kemijoki,400.0,NaN,26.950329,66.321034,7.7,FI
FI00667,666,6502200,Koskenkylä,Kemijoki,33370.0,NaN,26.155849,66.410076,3.0,FI
FI00668,667,6502250,Vanttauskoski,Kemijoki,29021.0,NaN,26.685973,66.367788,5.2,FI
FI00669,668,6502350,Kaihua,Kemijoki,383.0,NaN,26.826482,66.373660,11.0,FI

In [323]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_EU.gauge_country == "FI", "gauge_name"] = network_FI.loc[network_EU.loc[network_EU.gauge_country == "FI", "gauge_name"].index, "name"]
# river
network_EU.loc[network_EU.gauge_country == "FI", "river"] =  network_FI.loc[network_EU.loc[network_EU.gauge_country == "FI", "gauge_name"].index, "river"]

# Check:
network_EU.loc[network_EU.gauge_country == "FI", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
FI00001,6427,5902650,"Nuasjärvi, Koivukoski",FI,FI_SYKE,Oulujoki,27.736529,64.226285,27.736529,64.226285,...,0,0.008950,1948-04-01,2023-05-01,76,902,27424,0.0,27424,FI000001
FI00002,6428,5902700,Nuasjärvi - luusua,FI,FI_SYKE,Oulujoki,27.736529,64.226285,27.736529,64.226285,...,0,0.008950,1900-01-01,1912-12-31,13,156,4748,0.0,4748,FI000002
FI00003,6429,6000110,Iso Puutiojärvi - luusua,FI,FI_SYKE,Kiiminginjoki,27.595146,64.865324,27.595146,64.865324,...,0,-9.569542,1975-01-01,2023-05-01,49,581,17634,19.0,10408,FI000003
FI00004,6430,6100614,Näljänkäjärvi - luusua,FI,FI_SYKE,Iijoki,28.340834,65.037027,28.340834,65.037027,...,0,0.512500,1978-01-01,1994-12-31,17,204,6209,0.0,6209,FI000004
FI00005,6431,6100620,Suolijärvi - luusua,FI,FI_SYKE,Iijoki,28.069000,65.144550,28.069000,65.144550,...,0,-0.405941,1961-01-01,2023-05-01,63,747,22703,63.0,13999,FI000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FI00665,7091,6502150,Pirttikoski,FI,FI_SYKE,Kemijoki,27.155087,66.340055,27.155087,66.340055,...,0,-0.131285,1960-01-01,2023-05-01,59,692,21009,2123.0,13433,FI000665
FI00666,7092,6502151,"Juotas, konevirtaama",FI,FI_SYKE,Kemijoki,26.950329,66.321034,26.950329,66.321034,...,0,0.044000,1981-01-01,2023-05-01,17,189,5693,9768.0,5478,FI000666
FI00667,7093,6502200,Koskenkylä,FI,FI_SYKE,Kemijoki,26.155849,66.410076,26.155849,66.410076,...,999,11.832505,NaT,NaT,0,0,0,NaN,0,FI000667
FI00668,7094,6502250,Vanttauskoski,FI,FI_SYKE,Kemijoki,26.685973,66.367788,26.685973,66.367788,...,0,-0.171038,1971-10-01,2023-05-01,53,620,18841,0.0,18841,FI000668
FI00669,7095,6502350,Kaihua,FI,FI_SYKE,Kemijoki,26.826482,66.373660,26.826482,66.373660,...,999,50.182768,1960-01-01,1995-12-31,36,431,13080,69.0,10731,FI000669

In [324]:
# France (remember to convert the "code" and to set the index):
network_FR = pd.read_excel('data/gauges_metadata/network_FRo.xlsx')
network_FR.set_index("new_code", inplace = True)
network_FR

,Code,Unnamed: 0,CodeOld,Type,StartDate,EndDate,xcoord,ycoord,area,level,name
new_code,,,,,,,,,,,
FR00001,A021005050,0,A0210050,STD,1899-12-30 23:50:39,NaN,7.606153,47.556970,35878.0,246.0,Le Rhin en Suisse [Bâle [Rheinhalle]]
FR00002,A022020001,1,A0220200,STD,1993-01-24 23:00:00,NaN,7.528982,47.564377,15.0,277.0,L'Augraben à Hégenheim
FR00003,A022065001,2,A0220650,STD,1993-01-24 23:00:00,1996-04-12 10:00:00,7.508168,47.587489,8.2,274.0,Le ruisseau le Liesbach à Blotzheim
FR00004,A023010001,3,A0220570,STD,1993-04-01 22:00:00,1996-04-12 10:00:00,7.545294,47.603575,NaN,248.0,[Le Liesbach] à Saint-Louis [Langenhaeuser]
FR00005,A023020001,4,A0230201,STD,1993-02-03 23:00:00,1996-04-12 10:00:00,7.556488,47.596980,NaN,247.0,Le ruisseau l'Augraben à Saint-Louis [Michelfe...
...,...,...,...,...,...,...,...,...,...,...,...
FR03154,Y980000301,3153,Y9806210,STD,1971-05-31 23:00:00,1989-04-01 10:00:00,9.237134,41.596813,53.0,34.0,Le Bala à Porto-Vecchio
FR03155,Y980000302,3154,Y9800003,STD,2020-06-16 22:00:00,NaN,9.237163,41.596406,53.0,34.0,Le Bala à Porto-Vecchio
FR03156,Y982000101,3155,Y9825010,STD,1968-12-31 23:00:00,1980-12-01 11:00:00,9.204303,41.444451,29.0,4.0,Le ruisseau de Francolu à Bonifacio
FR03157,Y991000101,3156,Y9905010,STD,1983-11-15 23:00:00,1988-04-30 22:00:00,9.146374,41.464203,17.0,30.0,Le ruisseau de Ventilegne à Figari
FR03158,Z600000101,3157,N7120020,STD,2009-12-31 23:00:00,NaN,-1.327887,45.913912,NaN,0.0,[Océan] à Saint-Pierre-d'Oléron [l'Océan à la ...

In [325]:
# Adjust of the name:
# river:
network_EU.loc[network_EU.gauge_country == "FR", "river"] = network_FR.loc[network_EU.loc[network_EU.gauge_country == "FR", "gauge_name"].index, "name"]

# Check:
network_EU.loc[network_EU.gauge_country == "FR", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
FR00001,7096,A021005050,A0210050,FR,FR_EAUFRANCE,Le Rhin en Suisse [Bâle [Rheinhalle]],7.606153,47.556970,7.606153,47.556970,...,0,0.206887,2013-11-26,2022-09-30,10,107,3221,10.0,1148,FR000001
FR00002,7097,A022020001,A0220200,FR,FR_EAUFRANCE,L'Augraben à Hégenheim,7.528982,47.564377,7.528982,47.564377,...,0,-6.740000,1993-01-26,2022-09-30,30,351,10542,298.0,3382,FR000002
FR00003,7098,A022065001,A0220650,FR,FR_EAUFRANCE,Le ruisseau le Liesbach à Blotzheim,7.508168,47.587489,7.508168,47.587489,...,0,0.317073,1993-01-26,1995-05-31,3,29,856,0.0,856,FR000003
FR00004,7099,A023010001,A0220570,FR,FR_EAUFRANCE,[Le Liesbach] à Saint-Louis [Langenhaeuser],7.545294,47.603575,7.545294,47.603575,...,999,NaN,1994-01-20,1996-01-09,3,18,393,327.0,193,FR000004
FR00005,7100,A023020001,A0230201,FR,FR_EAUFRANCE,Le ruisseau l'Augraben à Saint-Louis [Michelfe...,7.556488,47.596980,7.556488,47.596980,...,999,NaN,1993-02-05,1993-09-08,1,8,216,0.0,216,FR000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FR03154,10246,Y980000301,Y9806210,FR,FR_EAUFRANCE,Le Bala à Porto-Vecchio,9.237134,41.596813,9.237134,41.596813,...,0,-0.632075,1971-06-01,1989-03-29,19,210,6316,196.0,3483,FR003154
FR03155,10247,Y980000302,Y9800003,FR,FR_EAUFRANCE,Le Bala à Porto-Vecchio,9.237163,41.596406,9.237163,41.596406,...,0,-0.741509,2020-07-02,2022-09-30,3,27,820,1.0,816,FR003155
FR03156,10248,Y982000101,Y9825010,FR,FR_EAUFRANCE,Le ruisseau de Francolu à Bonifacio,9.204303,41.444451,9.204303,41.444451,...,0,-2.344828,1970-09-01,1980-11-30,11,116,3430,314.0,1411,FR003156
FR03157,10249,Y991000101,Y9905010,FR,FR_EAUFRANCE,Le ruisseau de Ventilegne à Figari,9.146374,41.464203,9.146374,41.464203,...,999,4.252941,1983-11-17,1988-04-21,6,46,1212,406.0,335,FR003157
FR03158,10250,Z600000101,N7120020,FR,FR_EAUFRANCE,[Océan] à Saint-Pierre-d'Oléron [l'Océan à la ...,-1.327887,45.913912,-1.327887,45.913912,...,999,NaN,NaT,NaT,0,0,0,NaN,0,FR003158

In [326]:
# Greece (remember to convert the "code" and to set the index):
network_GR = pd.read_excel('data/gauges_metadata/network_GRo.xlsx')
network_GR.set_index("new_code", inplace = True)
network_GR

,Unnamed: 0,Code,Name,xcoord,ycoord,Elev,Area,river,region
new_code,,,,,,,,,
GRHCM001,0,Gouria,Acheloos_Gouria_dis,21.26070,38.48050,NaN,NaN,Acheloos,HCM
GRHCM002,3,Mesochora Katanti,Mesoxora_Katanti,21.26070,39.44090,NaN,NaN,Acheloos,HCM
GRHCM003,6,Aspra Spitia,Aspra Spitia,21.79030,37.58680,NaN,NaN,Alfeios,HCM
GRHCM004,7,Atsixolou,Atsixolou,22.03840,37.51140,NaN,NaN,Alfeios,HCM
GRHCM005,10,Karkalou,Karkalou,22.06040,37.62590,NaN,NaN,Alfeios,HCM
GRHCM006,14,Aoos_Pal,Aoos Pal,20.88910,40.02330,NaN,NaN,Aoos,HCM
GRHCM007,18,Chalkoutsi,Chalkoutsi,23.75330,38.30700,NaN,NaN,Asopos Viot.,HCM
GRHCM008,20,Evros_dw,Evros_dw,26.27840,40.92770,NaN,NaN,Evros,HCM
GRHCM009,22,Gefira Spartis,Gefira Spartis,22.43060,37.08860,NaN,NaN,Evrotas,HCM
GRHCM010,24,Leimonas2,Leimonas,22.69100,36.82880,NaN,NaN,Evrotas,HCM
GRHCM011,25,Magoula Lakonias,Magoula_Lakonias,22.40430,37.07970,NaN,NaN,Evrotas,HCM
GRHCM012,31,Vrontamas,Vrontamas,22.58040,36.97380,NaN,NaN,Evrotas,HCM
GRHCM013,36,Kifissos_MD,Kifissos_MD,23.78130,38.09180,NaN,NaN,Kifisos Att.,HCM
GRHCM014,37,Kifissos Nikaia,Kifissos Nikaia,23.67780,37.96430,NaN,NaN,Kifisos Att.,HCM
GRHCM015,46,Magoula,Magoula,21.79950,39.46340,NaN,NaN,Pamisou-Nedontos-Neda,HCM
GRHCM016,47,Pamisos_ekv,Pamisos_ekv,22.02030,37.05210,NaN,NaN,Pamisou-Nedontos-Neda,HCM
GRHCM017,50,Pikrodafni,Pikrodafni,23.70230,37.91840,NaN,NaN,Pikrodafni,HCM
GRHCM018,51,Enipeas,Enipeas,22.08020,39.56350,NaN,NaN,Pinios Thess.,HCM
GRHCM019,57,Lithaios,Lithaios,21.77070,39.55230,NaN,NaN,Pinios Thess.,HCM
GRHCM020,60,Nomi,Nomi_dis,21.93830,39.52660,NaN,NaN,Pinios Thess.,HCM
GRHCM021,65,Tempi,Tempi,22.61520,39.89680,NaN,NaN,Pinios Thess.,HCM
GRHCM022,67,Theopetra,Theopetra,21.67880,39.67480,NaN,NaN,Pinios Thess.,HCM
GRHCM023,68,Ag. Germanos,Ag. Germanos,21.13970,40.83680,NaN,NaN,Prespa (Lake),HCM
GRHCM024,75,Anthili,Anthili,22.46700,38.85630,NaN,NaN,Spercheios,HCM
GRHCM025,76,Loutra Ypatis2,LoutraYpatis,22.28410,38.90800,NaN,NaN,Spercheios,HCM
GRHCM026,78,Fonias,Samothraki,25.65310,40.48860,NaN,NaN,Thasou - Samothrakis,HCM
GROHI027,0,KARVELIOTIS,Καρβελιώτης,22.22361,37.07348,598.0,NaN,NaN,OHI
GROHI028,1,Catkin,Ανθήλη,22.46685,38.85611,NaN,NaN,NaN,OHI
GROHI029,2,Rentis,Ρέντης,23.67619,37.96093,NaN,NaN,NaN,OHI

In [327]:
# Adjust of the name:
# river:
network_EU.loc[network_GR.index, "gauge_name"] = network_GR.loc[network_GR.index, "Name"]

# Check:
network_EU.loc[network_EU.gauge_country == "GR", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
GRGR001,10922,6261100,TSIMOVO,GR,GR_GRDC,ARACHTHOS POTAMOS,20.980000,39.580000,20.98000,39.58000,...,0,1.912656,1978-01-01,1980-12-31,3,36,1096,0.0,1096,GRGR0001
GRGR002,10923,6261200,AVLAKION,GR,GR_GRDC,ACHELOOS POTAMOS,21.394554,39.156179,21.38500,39.15750,...,2,-11.700222,1978-01-01,1980-12-31,3,36,1095,1.0,789,GRGR0002
GRHCM001,10924,Gouria,Acheloos_Gouria_dis,GR,GR_HCMR,Acheloos,21.260700,38.480500,21.26070,38.48050,...,2,NaN,2022-02-15,2023-10-12,2,18,474,131.0,340,GRHC0001
GRHCM002,10925,Mesochora Katanti,Mesoxora_Katanti,GR,GR_HCMR,Acheloos,21.260700,39.440900,21.26070,39.44090,...,2,NaN,2016-07-29,2023-09-06,8,78,2152,444.0,852,GRHC0002
GRHCM003,10926,Aspra Spitia,Aspra Spitia,GR,GR_HCMR,Alfeios,21.790300,37.586800,21.79030,37.58680,...,2,NaN,2022-01-27,2023-10-12,2,22,572,52.0,569,GRHC0003
GRHCM004,10927,Atsixolou,Atsixolou,GR,GR_HCMR,Alfeios,22.038400,37.511400,22.03840,37.51140,...,2,NaN,2021-10-14,2023-10-12,3,25,729,0.0,729,GRHC0004
GRHCM005,10928,Karkalou,Karkalou,GR,GR_HCMR,Alfeios,22.060400,37.625900,22.06040,37.62590,...,2,NaN,2021-07-23,2023-10-09,3,26,711,98.0,275,GRHC0005
GRHCM006,10929,Aoos_Pal,Aoos Pal,GR,GR_HCMR,Aoos,20.889100,40.023300,20.88910,40.02330,...,2,NaN,2022-06-24,2023-10-12,2,17,476,0.0,476,GRHC0006
GRHCM007,10930,Chalkoutsi,Chalkoutsi,GR,GR_HCMR,Asopos Viot.,23.753300,38.307000,23.75330,38.30700,...,2,NaN,2021-10-21,2023-09-28,3,24,630,78.0,174,GRHC0007
GRHCM008,10931,Evros_dw,Evros_dw,GR,GR_HCMR,Evros,26.278400,40.927700,26.27840,40.92770,...,2,NaN,2022-05-19,2023-10-12,2,18,478,34.0,194,GRHC0008
GRHCM009,10932,Gefira Spartis,Gefira Spartis,GR,GR_HCMR,Evrotas,22.430600,37.088600,22.43060,37.08860,...,2,NaN,2020-09-30,2023-10-12,4,36,1006,102.0,724,GRHC0009
GRHCM010,10933,Leimonas2,Leimonas,GR,GR_HCMR,Evrotas,22.691000,36.828800,22.69100,36.82880,...,2,NaN,2020-07-26,2023-10-12,4,20,189,985.0,50,GRHC0010
GRHCM011,10934,Magoula Lakonias,Magoula_Lakonias,GR,GR_HCMR,Evrotas,22.404300,37.079700,22.40430,37.07970,...,2,NaN,2022-12-08,2023-10-11,2,11,267,41.0,172,GRHC0011
GRHCM012,10935,Vrontamas,Vrontamas,GR,GR_HCMR,Evrotas,22.580400,36.973800,22.58040,36.97380,...,2,NaN,2020-07-20,2023-10-12,4,36,984,196.0,410,GRHC0012
GRHCM013,10936,Kifissos_MD,Kifissos_MD,GR,GR_HCMR,Kifisos Att.,23.781300,38.091800,23.78130,38.09180,...,2,NaN,2020-06-19,2023-10-12,4,41,1173,38.0,718,GRHC0013
GRHCM014,10937,Kifissos Nikaia,Kifissos Nikaia,GR,GR_HCMR,Kifisos Att.,23.677800,37.964300,23.67780,37.96430,...,2,NaN,2022-02-15,2023-10-12,2,21,605,0.0,605,GRHC0014
GRHCM015,10938,Magoula,Magoula,GR,GR_HCMR,Pamisou-Nedontos-Neda,21.799500,39.463400,21.79950,39.46340,...,2,NaN,2021-05-28,2023-10-12,3,27,689,179.0,229,GRHC0015
GRHCM016,10939,Pamisos_ekv,Pamisos_ekv,GR,GR_HCMR,Pamisou-Nedontos-Neda,22.020300,37.052100,22.02030,37.05210,...,2,NaN,2022-03-23,2023-10-12,2,20,414,155.0,115,GRHC0016
GRHCM017,10940,Pikrodafni,Pikrodafni,GR,GR_HCMR,Pikrodafni,23.702300,37.918400,23.70230,37.91840,...,2,NaN,2019-10-01,2023-10-03,5,49,1341,123.0,432,GRHC0017
GRHCM018,10941,Enipeas,Enipeas,GR,GR_HCMR,Pinios Thess.,22.080200,39.563500,22.08020,39.56350,...,2,NaN,2021-09-30,2023-10-11,3,24,540,202.0,171,GRHC0018
GRHCM019,10942,Lithaios,Lithaios,GR,GR_HCMR,Pinios Thess.,21.770700,39.552300,21.77070,39.55230,...,2,NaN,2019-11-21,2023-10-12,5,48,1403,19.0,1152,GRHC0019
GRHCM020,10943,Nomi,Nomi_dis,GR,GR_HCMR,Pinios Thess.,21.938300,39.526600,21.93830,39.52660,...,2,NaN,2019-08-26,2023-10-12,5,51,1453,56.0,1372,GRHC0020
GRHCM021,10944,Tempi,Tempi,GR,GR_HCMR,Pinios Thess.,22.615200,39.896800,22.61520,39.89680,...,2,NaN,2019-08-27,2023-09-06,5,50,1466,6.0,655,GRHC0021
GRHCM022,10945,Theopetra,Theopetra,GR,GR_HCMR,Pinios Thess.,21.678800,39.674800,21.67880,39.67480,...,2,NaN,2021-04-27,2023-10-12,3,31,861,38.0,775,GRHC0022
GRHCM023,10946,Ag. Germanos,Ag. Germanos,GR,GR_HCMR,Prespa (Lake),21.139700,40.836800,21.13970,40.83680,...,2,NaN,2020-07-13,2023-10-12,4,40,1179,8.0,844,GRHC0023
GRHCM024,10947,Anthili,Anthili,GR,GR_HCMR,Spercheios,22.467000,38.856300,22.46700,38.85630,...,2,NaN,2014-10-03,2023-10-12,10,108,3108,189.0,528,GRHC0024
GRHCM025,10948,Loutra Ypatis2,LoutraYpatis,GR,GR_HCMR,Spercheios,22.284100,38.908000,22.28410,38.90800,...,2,NaN,2019-11-27,2023-10-12,5,45,1132,284.0,386,GRHC0025
GRHCM026,10949,Fonias,Samothraki,GR,GR_HCMR,Thasou - Samothrakis,25.653100,40.488600,25.65310,40.48860,...,2,NaN,2018-10-29,2023-10-12,6,52,1376,434.0,709,GRHC0026
GROHI027,10950,KARVELIOTIS,Καρβελιώτης,GR,GR_OPENHI,NaN,22.223610,37.073480,22.22361,37.07348,...,0,NaN,2011-12-16,2014-05-16,4,30,883,0.0,883,GROH0027
GROHI028,10951,Catkin,Ανθήλη,GR,GR_OPENHI,NaN,22.466850,38.856110,22.46685,38.85611,...,0,NaN,2014-10-03,2023-05-02,10,103,2907,227.0,418,GROH0028
GROHI029,10952,Rentis,Ρέντης,GR,GR_OPENHI,NaN,23.676190,37.960930,23.67619,37.96093,...,0,NaN,2018-05-31,2020-03-28,3,22,474,194.0,126,GROH0029

In [328]:
# Croatia (remember to convert the "code" and to set the index):
network_HR = pd.read_excel('data/gauges_metadata/network_HRo.xlsx')
network_HR.set_index("new_code", inplace = True)
network_HR

,Unnamed: 0,code,name,num,Area (km2),Lon,Lat
new_code,,,,,,,
HR00001,0,7136,"ŠIPAK, BAĆINSKA JEZERA",6,NaN,17.423868,43.069136
HR00002,1,8031,"KOSINJSKI BAKOVAC, BAKOVAC",7,NaN,15.211571,44.710665
HR00003,2,8056,"ŠPORČIĆ KLANAC, BAKOVAC",8,NaN,15.233977,44.703883
HR00004,3,5143,"KLJUČ, BEDNJA",9,415.67,16.378201,46.179840
HR00005,4,5140,"LEPOGLAVA, BEDNJA",10,89.80,16.033129,46.206730
...,...,...,...,...,...,...,...
HR00154,153,3367,"BOŽJAKOVINA, ZELINA",383,186.00,16.284426,45.818834
HR00155,154,7253,"ERVENIK, ZRMANJA",384,214.00,15.939828,44.107690
HR00156,155,5144,"ŽDALA, ŽDALICA",395,NaN,17.161000,46.155311
HR00157,156,7299,"IZVOR ŽRNOVNICE, ŽRNOVNICA",396,NaN,16.573901,43.522881
HR00158,157,7249,"LABORATORIJ, ŽRNOVNICA",397,NaN,16.553203,43.517919

In [329]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_EU.gauge_country == "HR", "gauge_name"] = network_HR.loc[network_EU.loc[network_EU.gauge_country == "HR", "gauge_name"].index, "name"].str.split(',').str[0]
# river
network_EU.loc[network_EU.gauge_country == "HR", "river"] = network_HR.loc[network_EU.loc[network_EU.gauge_country == "HR", "gauge_name"].index, "name"].str.split(',').str[1]

# Check:
network_EU.loc[network_EU.gauge_country == "HR", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
HR00001,10953,7136,ŠIPAK,HR,HR_DHZ,BAĆINSKA JEZERA,17.423868,43.069136,17.423868,43.069136,...,999,NaN,1973-01-17,2021-12-31,49,588,17881,0.0,17881,HR000001
HR00002,10954,8031,KOSINJSKI BAKOVAC,HR,HR_DHZ,BAKOVAC,15.211571,44.710665,15.211571,44.710665,...,4,NaN,1981-01-01,2021-12-31,41,492,14975,0.0,14975,HR000002
HR00003,10955,8056,ŠPORČIĆ KLANAC,HR,HR_DHZ,BAKOVAC,15.233977,44.703883,15.233977,44.703883,...,4,NaN,1980-01-01,2020-12-31,40,480,14513,463.0,10959,HR000003
HR00004,10956,5143,KLJUČ,HR,HR_DHZ,BEDNJA,16.378201,46.179840,16.378201,46.179840,...,0,-8.051339,1987-01-01,2021-12-31,35,405,12279,505.0,6362,HR000004
HR00005,10957,5140,LEPOGLAVA,HR,HR_DHZ,BEDNJA,16.033129,46.206730,16.033129,46.206730,...,3,-21.488864,1987-01-01,2021-12-31,35,420,12784,0.0,12784,HR000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
HR00154,11106,3367,BOŽJAKOVINA,HR,HR_DHZ,ZELINA,16.284426,45.818834,16.284426,45.818834,...,0,-2.310215,1991-01-01,2021-12-31,31,371,11176,147.0,7360,HR000154
HR00155,11107,7253,ERVENIK,HR,HR_DHZ,ZRMANJA,15.939828,44.107690,15.939828,44.107690,...,3,-56.790654,1951-01-01,2021-12-31,66,765,23184,2749.0,14822,HR000155
HR00156,11108,5144,ŽDALA,HR,HR_DHZ,ŽDALICA,17.161000,46.155311,17.161000,46.155311,...,4,NaN,1988-01-01,2021-12-31,34,404,12200,219.0,5094,HR000156
HR00157,11109,7299,IZVOR ŽRNOVNICE,HR,HR_DHZ,ŽRNOVNICA,16.573901,43.522881,16.573901,43.522881,...,4,NaN,1989-10-07,2021-12-31,33,387,11774,0.0,11774,HR000157
HR00158,11110,7249,LABORATORIJ,HR,HR_DHZ,ŽRNOVNICA,16.553203,43.517919,16.553203,43.517919,...,4,NaN,1987-01-01,2021-12-31,35,420,12784,0.0,12784,HR000158

In [330]:
# Norway (remember to convert the "code" and to set the index):
network_NO = pd.read_excel('data/gauges_metadata/network_NOo.xlsx')
network_NO.set_index("new_code", inplace = True)
network_NO

,Unnamed: 0,code,name,river,area,elev,lon,lat,country
new_code,,,,,,,,,
NO00001,0,29.19.0,Høylandsåna,Storåna,16.38,NaN,5.740205,58.832218,NO
NO00002,1,29.11.0,Sandvedparken,Storåna,24.50,NaN,5.730242,58.842287,NO
NO00003,2,29.10.0,Stokkelandsvatnet,Storåna,19.34,NaN,5.717747,58.821528,NO
NO00004,3,28.7.0,Haugland,Hååna,139.35,NaN,5.647563,58.692906,NO
NO00005,4,27.52.0,Byrkjelandsvatnet utløp,Bjerkreimvassdraget,177.47,NaN,6.198604,58.697443,NO
...,...,...,...,...,...,...,...,...,...
NO00185,184,33.4.0,Kalltveit i Årdal,Årdalselva,307.38,NaN,6.283894,59.134914,NO
NO00186,185,307.7.0,Landbru,Linvasselva/Faxälven,61.37,NaN,13.916363,64.886736,NO
NO00187,186,303.2.0,Kobvatn,Siddisjaurevassdraget/Vietasätno/Luleälven,82.70,NaN,17.106267,68.146980,NO
NO00188,187,30.8.0,Øvstabøstøl,Dirdalsåna,49.85,NaN,6.573901,58.867643,NO
NO00189,188,3.22.0,Høgfoss,Mossevassdraget,299.62,NaN,10.856106,59.551606,NO

In [331]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_EU.gauge_country == "NO", "gauge_name"] = network_NO.loc[network_EU.loc[network_EU.gauge_country == "NO", "gauge_name"].index, "name"]
# river
network_EU.loc[network_EU.gauge_country == "NO", "river"] = network_NO.loc[network_EU.loc[network_EU.gauge_country == "NO", "gauge_name"].index, "river"]

# Check:
network_EU.loc[network_EU.gauge_country == "NO", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
NO00001,12659,29.19.0,Høylandsåna,NO,NO_NVE,Storåna,5.740205,58.832218,5.740205,58.832218,...,999,-14.493284,2021-05-06,2021-12-31,1,8,240,0.0,240,NO000001
NO00002,12660,29.11.0,Sandvedparken,NO,NO_NVE,Storåna,5.730242,58.842287,5.730242,58.842287,...,0,-2.975510,1995-03-04,2022-12-31,4,39,1122,9043.0,550,NO000002
NO00003,12661,29.10.0,Stokkelandsvatnet,NO,NO_NVE,Storåna,5.717747,58.821528,5.717747,58.821528,...,999,-16.520165,1995-03-04,1996-10-24,2,20,574,27.0,531,NO000003
NO00004,12662,28.7.0,Haugland,NO,NO_NVE,Hååna,5.647563,58.692906,5.647563,58.692906,...,0,0.495874,1918-12-05,2022-12-31,105,1249,38013,0.0,38013,NO000004
NO00005,12663,27.52.0,Byrkjelandsvatnet utløp,NO,NO_NVE,Bjerkreimvassdraget,6.198604,58.697443,6.198604,58.697443,...,999,-38.107849,2014-07-03,2022-12-31,9,102,3038,66.0,1462,NO000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NO00185,12843,33.4.0,Kalltveit i Årdal,NO,NO_NVE,Årdalselva,6.283894,59.134914,6.283894,59.134914,...,0,4.459301,2002-01-01,2018-12-31,15,177,5374,835.0,4383,NO000185
NO00186,12844,307.7.0,Landbru,NO,NO_NVE,Linvasselva/Faxälven,13.916363,64.886736,13.916363,64.886736,...,999,-41.844549,1943-08-12,2022-12-31,80,953,28997,0.0,28997,NO000186
NO00187,12845,303.2.0,Kobvatn,NO,NO_NVE,Siddisjaurevassdraget/Vietasätno/Luleälven,17.106267,68.146980,17.106267,68.146980,...,2,-9.558646,1977-09-07,2022-12-31,43,453,13408,3144.0,4239,NO000187
NO00188,12846,30.8.0,Øvstabøstøl,NO,NO_NVE,Dirdalsåna,6.573901,58.867643,6.573901,58.867643,...,0,4.591775,1986-04-15,2018-12-31,26,278,8101,3848.0,2923,NO000188
NO00189,12847,3.22.0,Høgfoss,NO,NO_NVE,Mossevassdraget,10.856106,59.551606,10.856106,59.551606,...,0,0.111475,1976-09-23,2022-12-31,47,556,16901,0.0,16901,NO000189

In [332]:
# Poland (remember to convert the "code" and to set the index):
network_PL = pd.read_excel('data/gauges_metadata/network_PLo.xlsx')
network_PL.set_index("new_code", inplace = True)
network_PL

,Unnamed: 0,code,name,river,area,elev,lon,lat,country,start_date,end_date
new_code,,,,,,,,,,,
PL00001,0,149180020,CHAŁUPKI,Odra (1),4659.18,NaN,18.327913,49.921848,PL,1950-11-01,2022-10-31
PL00002,1,149180300,OLZA,Odra (1),5828.32,NaN,18.326322,49.954770,PL,2003-11-01,2022-10-31
PL00003,2,149180010,KRZYŻANOWICE,Odra (1),5876.08,NaN,18.287282,49.993610,PL,1955-11-01,2022-10-31
PL00004,3,150180060,RACIBÓRZ-MIEDONIA,Odra (1),6730.63,NaN,18.229731,50.122023,PL,1950-11-01,2022-10-31
PL00005,4,150180030,KOŹLE,Odra (1),9043.98,NaN,18.146739,50.351827,PL,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...
PL01283,1282,153230090,SUCHA RZECZKA,Jez. Serwy (646219),58.64,NaN,23.202261,53.890137,PL,NaT,NaT
PL01284,1283,154230040,ZELWA,Marycha (648),368.44,NaN,23.458642,54.027013,PL,1964-11-01,2022-10-31
PL01285,1284,149220170,KROŚCIENKO,Strwi¹¿ (76),194.32,NaN,22.662763,49.473162,PL,1970-11-01,2022-10-31
PL01286,1285,149190240,JABŁONKA,Czarna Orawa (8222),135.64,NaN,19.690752,49.470609,PL,1960-11-01,2022-10-31
PL01287,1286,149190250,JABŁONKA,Piekielnik (82224),77.37,NaN,19.695141,49.472294,PL,1970-11-01,2022-10-31

In [333]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_EU.gauge_country == "PL", "gauge_name"] = network_PL.loc[network_EU.loc[network_EU.gauge_country == "PL", "gauge_name"].index, "name"]
# river
network_EU.loc[network_EU.gauge_country == "PL", "river"] = network_PL.loc[network_EU.loc[network_EU.gauge_country == "PL", "gauge_name"].index, "river"]

# Check:
network_EU.loc[network_EU.gauge_country == "PL", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
PL00001,12848,149180020,CHAŁUPKI,PL,PL_IMGW,Odra (1),18.327913,49.921848,18.327913,49.921848,...,0,-0.232230,1950-11-01,2022-10-31,73,864,26298,0.0,26298,PL000001
PL00002,12849,149180300,OLZA,PL,PL_IMGW,Odra (1),18.326322,49.954770,18.326322,49.954770,...,0,-0.371977,2003-11-01,2022-10-31,20,228,6940,0.0,6940,PL000002
PL00003,12850,149180010,KRZYŻANOWICE,PL,PL_IMGW,Odra (1),18.287282,49.993610,18.287282,49.993610,...,0,-0.407074,1955-11-01,2022-10-31,68,804,24472,0.0,24472,PL000003
PL00004,12851,150180060,RACIBÓRZ-MIEDONIA,PL,PL_IMGW,Odra (1),18.229731,50.122023,18.229731,50.122023,...,0,-0.287789,1950-11-01,2022-10-31,73,864,26298,0.0,26298,PL000004
PL00005,12852,150180030,KOŹLE,PL,PL_IMGW,Odra (1),18.146739,50.351827,18.146739,50.351827,...,0,-1.725125,NaT,NaT,0,0,0,NaN,0,PL000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PL01283,14130,153230090,SUCHA RZECZKA,PL,PL_IMGW,Jez. Serwy (646219),23.202261,53.890137,23.202261,53.890137,...,0,-0.613915,NaT,NaT,0,0,0,NaN,0,PL001283
PL01284,14131,154230040,ZELWA,PL,PL_IMGW,Marycha (648),23.458642,54.027013,23.458642,54.027013,...,0,-7.208772,1964-11-01,2022-10-31,59,696,21184,0.0,21184,PL001284
PL01285,14132,149220170,KROŚCIENKO,PL,PL_IMGW,Strwi¹¿ (76),22.662763,49.473162,22.662763,49.473162,...,0,0.164677,1970-11-01,2022-10-31,53,624,18993,0.0,18993,PL001285
PL01286,14133,149190240,JABŁONKA,PL,PL_IMGW,Czarna Orawa (8222),19.690752,49.470609,19.690752,49.470609,...,0,1.209083,1960-11-01,2022-10-31,63,734,22334,311.0,13514,PL001286
PL01287,14134,149190250,JABŁONKA,PL,PL_IMGW,Piekielnik (82224),19.695141,49.472294,19.695141,49.472294,...,0,-0.814269,1970-11-01,2022-10-31,53,612,18628,365.0,14975,PL001287

In [334]:
# Portugal (remember to convert the "code" and to set the index):
network_PT = pd.read_excel('data/gauges_metadata/network_PTo.xlsx')
network_PT.set_index("new_code", inplace = True)
network_PT

,Unnamed: 0,ID,Name,Elev,Lat,Lon,Watershed,River,Area_km2,Status,Code
new_code,,,,,,,,,,,
PT00001,0,03J/02H,ABELHEIRA CANAL (R.E.),756,41.795000,-7.969000,CÁVADO/RIBEIRAS COSTEIRAS,RIBEIRO DAS CAVADAS OU DE ABELHEIRA,2.6,ATIVA,ABELHEIRA CANAL (R.E.) (03J/02H)
PT00002,1,15G/02H,AGROAL,88,39.679000,-8.437000,TEJO,RIO NABÃO,608.49,ATIVA,AGROAL (15G/02H)
PT00003,2,11H/02H,AGUIEIRA (R.E.),89,40.341000,-8.208000,MONDEGO,RIO MONDEGO,3072.41,EXTINTA,AGUIEIRA (R.E.) (11H/02H)
PT00004,3,26J/01H,ALBERNOA,131,37.853000,-7.965000,GUADIANA,RIO COBRES OU RIBEIRA DE TERGES,169.84,ATIVA,ALBERNOA (26J/01H)
PT00005,4,11H/01H,ALMAÇA,72,40.340000,-8.228000,MONDEGO,RIBEIRA DE MORTAGUA OU DE CRISTINA OU DA FOZ O...,204.08,EXTINTA,ALMAÇA (11H/01H)
...,...,...,...,...,...,...,...,...,...,...,...
PT00276,275,08L/02H,VILAR,511,40.989000,-7.534000,DOURO,RIO TÁVORA,358.35,EXTINTA,VILAR (08L/02H)
PT00277,276,03P/01H,VINHAIS QUINTA RANCA (R.E.),441,41.810000,-6.995000,DOURO,RIO TUELA,478.54,ATIVA,VINHAIS QUINTA RANCA (R.E.) (03P/01H)
PT00278,277,31K/06HA,VÁRZEAS,-,37.153177,-7.796518,RIBEIRAS DO ALGARVE,BARRANCO DO MONTE DOS LAGARTOS,-,INSTALAÇÃO AUTOMÁTICA,VÁRZEAS (31K/06HA)
PT00279,278,17C/03H,ÓBIDOS,12,39.361000,-9.152000,RIBEIRAS DO OESTE,RIO ARNOIA,106.65,EXTINTA,ÓBIDOS (17C/03H)
PT00280,279,18E/04H,ÓMNIAS (SANTARÉM),18,39.224000,-8.675000,TEJO,RIO TEJO,68430.32,DESATIVADA,ÓMNIAS (SANTARÉM) (18E/04H)

In [335]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_EU.gauge_country == "PT", "gauge_name"] = network_PT.loc[network_EU.loc[network_EU.gauge_country == "PT", "gauge_name"].index, "Name"]
# river
network_EU.loc[network_EU.gauge_country == "PT", "river"] = network_PT.loc[network_EU.loc[network_EU.gauge_country == "PT", "gauge_name"].index, "River"]

# Check:
network_EU.loc[network_EU.gauge_country == "PT", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
PT00001,14135,03J/02H,ABELHEIRA CANAL (R.E.),PT,PT_SNIRH,RIBEIRO DAS CAVADAS OU DE ABELHEIRA,-7.969000,41.795000,-7.969000,41.795000,...,2,-617.115385,1972-10-01,2011-09-30,32,348,10592,3652.0,5844,PT000001
PT00002,14136,15G/02H,AGROAL,PT,PT_SNIRH,RIO NABÃO,-8.437000,39.679000,-8.437000,39.679000,...,0,0.330490,1979-10-01,2022-03-08,42,462,13722,1778.0,5930,PT000002
PT00003,14137,11H/02H,AGUIEIRA (R.E.),PT,PT_SNIRH,RIO MONDEGO,-8.208000,40.341000,-8.208000,40.341000,...,0,0.078147,1960-10-01,1972-04-21,13,139,4221,0.0,4221,PT000003
PT00004,14138,26J/01H,ALBERNOA,PT,PT_SNIRH,RIO COBRES OU RIBEIRA DE TERGES,-7.965000,37.853000,-7.965000,37.853000,...,0,0.088318,1969-12-07,2022-09-30,47,517,15591,3700.0,4746,PT000004
PT00005,14139,11H/01H,ALMAÇA,PT,PT_SNIRH,RIBEIRA DE MORTAGUA OU DE CRISTINA OU DA FOZ O...,-8.228000,40.340000,-8.228000,40.340000,...,0,-0.058800,1960-10-01,1980-07-15,20,213,6467,761.0,5113,PT000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PT00276,14410,08L/02H,VILAR,PT,PT_SNIRH,RIO TÁVORA,-7.534000,40.989000,-7.534000,40.989000,...,0,0.090973,NaT,NaT,0,0,0,NaN,0,PT000276
PT00277,14411,03P/01H,VINHAIS QUINTA RANCA (R.E.),PT,PT_SNIRH,RIO TUELA,-6.995000,41.810000,-6.995000,41.810000,...,0,-1.345760,1960-10-01,2011-09-30,44,504,15340,3287.0,13514,PT000277
PT00278,14412,31K/06HA,VÁRZEAS,PT,PT_SNIRH,BARRANCO DO MONTE DOS LAGARTOS,-7.796518,37.153177,-7.796518,37.153177,...,999,NaN,2004-12-29,2010-09-30,7,58,1736,366.0,1157,PT000278
PT00279,14413,17C/03H,ÓBIDOS,PT,PT_SNIRH,RIO ARNOIA,-9.152000,39.361000,-9.152000,39.361000,...,0,-0.069386,1977-10-01,1980-09-30,4,33,1007,89.0,519,PT000279
PT00280,14414,18E/04H,ÓMNIAS (SANTARÉM),PT,PT_SNIRH,RIO TEJO,-8.675000,39.224000,-8.675000,39.224000,...,0,0.590395,1972-10-01,2002-09-30,31,327,9757,1200.0,7213,PT000280

In [336]:
# Sweden (remember to convert the "code" and to set the index):
network_SE = pd.read_excel('data/gauges_metadata/network_SEo.xlsx')
network_SE.set_index("new_code", inplace = True)
network_SE

,Unnamed: 0,code,name,river,area,elev,lon,lat,country
new_code,,,,,,,,,
SE00001,0,138,ÖVRE HYNDEVAD,HJÄLMAREN,4044.2,NaN,16.4659,59.3221,SE
SE00002,1,10006,KARESUVANTO,MUONIOÄLV,5960.4,NaN,22.4779,68.4437,SE
SE00003,2,10016,MAGNOR,VRÅNGSÄLVEN,359.5,NaN,12.1873,59.9546,SE
SE00004,3,1069,MÖCKELN,MÖCKELN,1026.0,NaN,14.1220,56.6654,SE
SE00005,4,1083,LILLGLÄN,TÄNNÅN,64.6,NaN,12.1278,62.6386,SE
...,...,...,...,...,...,...,...,...,...
SE00286,285,751,VASSBOTTEN,ENNINGDALSÄLVEN,624.1,NaN,11.5368,58.8771,SE
SE00287,286,855,GETEBRO,ALSTERÅN,1332.7,NaN,16.1639,56.9996,SE
SE00288,287,887,SOLVEDEN,SÄVEÅN,1109.0,NaN,12.4423,57.8754,SE
SE00289,288,957,ÖVRE ABISKOJOKK,TORNEÄLVEN,566.3,NaN,18.7841,68.3607,SE
SE00290,289,97,GIMDALSBY,IDSJÖN,2163.6,NaN,15.7092,62.8193,SE

In [337]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_EU.gauge_country == "SE", "gauge_name"] = network_SE.loc[network_EU.loc[network_EU.gauge_country == "SE", "gauge_name"].index, "name"]
# river
network_EU.loc[network_EU.gauge_country == "SE", "river"] = network_SE.loc[network_EU.loc[network_EU.gauge_country == "SE", "gauge_name"].index, "river"]

# Check:
network_EU.loc[network_EU.gauge_country == "SE", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
SE00001,14537,138,ÖVRE HYNDEVAD,SE,SE_SMHI,HJÄLMAREN,16.4659,59.3221,16.4659,59.3221,...,0,-2.002497,1900-01-01,2023-04-10,124,1480,45025,0.0,45025,SE000001
SE00002,14538,10006,KARESUVANTO,SE,SE_SMHI,MUONIOÄLV,22.4779,68.4437,22.4779,68.4437,...,0,1.823066,1972-01-01,2023-04-10,52,616,18727,1.0,18543,SE000002
SE00003,14539,10016,MAGNOR,SE,SE_SMHI,VRÅNGSÄLVEN,12.1873,59.9546,12.1873,59.9546,...,0,-0.825869,1911-03-25,2023-04-10,112,1268,38368,2557.0,18181,SE000003
SE00004,14540,1069,MÖCKELN,SE,SE_SMHI,MÖCKELN,14.1220,56.6654,14.1220,56.6654,...,0,-1.928460,1921-10-01,2023-04-10,103,1219,37082,0.0,37082,SE000004
SE00005,14541,1083,LILLGLÄN,SE,SE_SMHI,TÄNNÅN,12.1278,62.6386,12.1278,62.6386,...,0,-2.208978,1933-01-01,2023-04-10,91,1084,32972,0.0,32972,SE000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SE00286,14822,751,VASSBOTTEN,SE,SE_SMHI,ENNINGDALSÄLVEN,11.5368,58.8771,11.5368,58.8771,...,0,0.534049,1914-01-01,2023-04-10,110,1312,39912,0.0,39912,SE000286
SE00287,14823,855,GETEBRO,SE,SE_SMHI,ALSTERÅN,16.1639,56.9996,16.1639,56.9996,...,0,-0.140692,1920-01-01,2023-04-10,104,1240,37721,0.0,37721,SE000287
SE00288,14824,887,SOLVEDEN,SE,SE_SMHI,SÄVEÅN,12.4423,57.8754,12.4423,57.8754,...,0,-1.440848,1900-01-01,2023-04-10,69,806,24458,20567.0,17805,SE000288
SE00289,14825,957,ÖVRE ABISKOJOKK,SE,SE_SMHI,TORNEÄLVEN,18.7841,68.3607,18.7841,68.3607,...,0,-4.888045,1985-04-09,2023-04-10,39,457,13881,0.0,13881,SE000289
SE00290,14826,97,GIMDALSBY,SE,SE_SMHI,IDSJÖN,15.7092,62.8193,15.7092,62.8193,...,0,-0.580930,1910-01-01,2023-04-10,110,1304,39670,1703.0,33338,SE000290

In [338]:
# Slovenia (remember to convert the "code" and to set the index):
network_SI = pd.read_excel('data/gauges_metadata/network_SIo.xlsx')
network_SI.set_index("new_code", inplace = True)
network_SI

,Unnamed: 0,Code,New_Code,Lon,Lat,Elevation,Level_official,River,River_official2,Station,Name,Area,X,Y
new_code,,,,,,,,,,,,,,
SI00001,0,1060,1060,16.000253,46.681510,202.35,202.338,Mura,MURA,Gornja Radgona,Mura - Gor. Radgona,10197.00,576530.0,171280.0
SI00002,1,1070,1070,16.059244,46.648821,193.65,193.763,Mura,MURA,Petanjci,Mura - Petanjci,10391.44,581070.0,167710.0
SI00003,2,1100,1100,16.026247,46.711322,206.00,206.143,Kučnica,KUČNICA,Cankova,Kučnica - Cankova,30.40,578460.0,174610.0
SI00004,3,1140,1140,16.236726,46.518911,169.37,169.768,Ščavnica,ŠČAVNICA,Pristava,Ščavnica - Pristava,272.54,594960.0,153410.0
SI00005,4,1165,1165,16.032468,46.810437,232.19,232.149,Ledava,LEDAVA,Nuskova,Ledava - Nuskova,50.61,578800.0,185620.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SI00113,112,9030,9030,14.231142,45.573417,393.09,393.054,Reka,REKA,Trnovo,Reka - Trnovo,129.08,439960.0,47920.0
SI00114,113,9050,9050,14.065534,45.655165,342.86,341.716,Reka,REKA,Cerkvenikov mlin,Reka - Cerkvenikov mlin,332.37,427260.0,57080.0
SI00115,114,9100,9100,14.246457,45.564655,396.82,353.356,Bistrica,BISTRICA,Ilirska Bistrica,Bistrica - Il. Bistrica,NaN,441140.0,47960.0
SI00116,115,9210,9210,13.880788,45.532914,61.16,57.682,Rižana,RIŽANA,Kubed,Rižana - Kubed,204.50,412680.0,43680.0
SI00117,116,9275,9275,13.751013,45.525305,2.18,NaN,Badaševica,BADAŠEVICA,Šalara,Badaševica - Šalara,21.08,402690.0,42740.0

In [339]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_EU.gauge_country == "SI", "gauge_name"] = network_SI.loc[network_EU.loc[network_EU.gauge_country == "SI", "gauge_name"].index, "Station"]
# river
network_EU.loc[network_EU.gauge_country == "SI", "river"] = network_SI.loc[network_EU.loc[network_EU.gauge_country == "SI", "gauge_name"].index, "River"]

# Check:
network_EU.loc[network_EU.gauge_country == "SI", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
SI00001,14827,1060,Gornja Radgona,SI,SI_ARSO,Mura,16.004297,46.675233,16.000253,46.681510,...,0,-1.303540,1950-01-01,1990-11-08,41,491,14922,0.0,14922,SI000001
SI00002,14828,1070,Petanjci,SI,SI_ARSO,Mura,16.057719,46.645367,16.059244,46.648821,...,0,-0.182814,1956-01-01,2000-11-07,45,539,16383,0.0,16383,SI000002
SI00003,14829,1100,Cankova,SI,SI_ARSO,Kučnica,16.026247,46.711322,16.026247,46.711322,...,2,-12.437500,1981-01-01,2005-11-08,22,263,7982,1096.0,7670,SI000003
SI00004,14830,1140,Pristava,SI,SI_ARSO,Ščavnica,16.237040,46.517629,16.236726,46.518911,...,0,-4.697659,1975-01-01,2017-11-08,43,515,15653,0.0,15653,SI000004
SI00005,14831,1165,Nuskova,SI,SI_ARSO,Ledava,16.029363,46.809277,16.032468,46.810437,...,2,-11.031417,1992-11-28,2021-12-31,30,343,10377,249.0,7768,SI000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SI00113,14939,9030,Trnovo,SI,SI_ARSO,Reka,14.231142,45.573417,14.231142,45.573417,...,2,-181.595135,1952-01-01,1996-11-07,27,323,9808,6575.0,5479,SI000113
SI00114,14940,9050,Cerkvenikov mlin,SI,SI_ARSO,Reka,14.065534,45.655165,14.065534,45.655165,...,2,-68.643981,1952-01-01,1996-11-07,45,539,16383,0.0,16383,SI000114
SI00115,14941,9100,Ilirska Bistrica,SI,SI_ARSO,Bistrica,14.246457,45.564655,14.246457,45.564655,...,999,NaN,1958-01-01,2001-11-08,28,335,10174,5844.0,5479,SI000115
SI00116,14942,9210,Kubed,SI,SI_ARSO,Rižana,13.879408,45.531509,13.880788,45.532914,...,999,79.799511,1965-05-01,2009-11-08,45,535,16263,0.0,16263,SI000116
SI00117,14943,9275,Šalara,SI,SI_ARSO,Badaševica,13.751013,45.525305,13.751013,45.525305,...,0,0.621442,1994-01-01,2021-12-31,28,332,10079,148.0,7305,SI000117

In [340]:
# Italy (remember to convert the "code" and to set the index):
network_IT = pd.read_excel('data/gauges_metadata/network_ITo.xlsx')
network_IT.set_index("new_code", inplace = True)
network_IT

,Unnamed: 0,Code,Name,xcoord,ycoord,Elev,Area,river,region,region_code
new_code,,,,,,,,,,
ITEMI001,0,Cardinala Idice,IDICE,11.801844,44.578911,15.00,NaN,NaN,emilia,EMI
ITEMI002,1,Castenaso,IDICE,11.470171,44.507477,38.00,397.4,NaN,emilia,EMI
ITEMI003,2,Cadelbosco,CROSTOLO,10.581190,44.778796,38.00,229.0,NaN,emilia,EMI
ITEMI004,3,Polesella,PO,11.756259,44.959259,9.00,70091.0,NaN,emilia,EMI
ITEMI005,4,Berceto Baganza,PARMA,9.993069,44.503582,803.00,16.0,NaN,emilia,EMI
...,...,...,...,...,...,...,...,...,...,...
ITVEN436,435,271VE,Piave a Belluno Ponte Vittoria,12.218586,46.134222,NaN,NaN,Piave,veneto,VEN
ITVEN437,436,277VE,Cordevole a Ponte Mas,12.125220,46.154313,360.75,696.0,Cordevole,veneto,VEN
ITVEN438,437,327VE,Piave a Segusino,11.948837,45.922490,177.39,3469.0,Piave,veneto,VEN
ITVEN439,438,374VE,Brenta a Enego,11.715000,45.954413,NaN,646.0,Brenta,veneto,VEN
ITVEN440,439,557VE,Piave a Belluno unificata,12.228124,46.127896,329.29,1980.0,Piave,veneto,VEN

In [341]:
# Adjust of the name:
#gauge_id
network_EU.loc[network_IT.index, "gauge_id"] = network_IT.loc[:, "Code"]


# gauge_name:
network_EU.loc[network_IT.index, "gauge_name"] = network_IT.loc[:, "Name"]

# river
network_EU.loc[network_IT.index, "river"] = network_IT.loc[:, "river"]

# Check:
network_EU.loc[network_EU.gauge_country == "IT", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
ITABR441,11665,Aterno a Molina,Aterno a Molina,IT,IT_ABR_CONTACTFORM,Aterno,13.753056,42.137222,13.753056,42.137222,...,0,2.244743,2014-01-01,2023-06-24,10,114,3454,8.0,1954,ITAB0441
ITABR442,11666,Aterno a Tre Ponti,Aterno a Tre Ponti,IT,IT_ABR_CONTACTFORM,Aterno,13.258056,42.476389,13.258056,42.476389,...,3,-43.714035,2014-01-01,2023-06-24,10,113,3250,212.0,620,ITAB0442
ITABR443,11667,Feltrino a San Vito,Feltrino a San Vito,IT,IT_ABR_CONTACTFORM,Feltrino,14.439444,42.296389,14.439444,42.296389,...,0,4.300000,2014-01-01,2023-06-24,10,114,3411,51.0,937,ITAB0443
ITABR444,11668,Pescara a Maraone,Pescara a Maraone,IT,IT_ABR_CONTACTFORM,Pescara,13.838611,42.180000,13.838611,42.180000,...,0,1.606141,2014-01-01,2023-06-24,10,114,3455,7.0,1723,ITAB0444
ITABR445,11669,Sagittario a Capo Canale,Sagittario a Capo Canale,IT,IT_ABR_CONTACTFORM,Sagittario,13.866389,42.123333,13.866389,42.123333,...,0,-0.412688,2014-01-01,2023-06-24,10,114,3456,6.0,2189,ITAB0445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ITVEN436,12427,271VE,Piave a Belluno Ponte Vittoria,IT,IT_VEN,Piave,12.218586,46.134222,12.218586,46.134222,...,0,NaN,2020-05-16,2022-12-31,3,30,826,134.0,422,ITVE0436
ITVEN437,12428,277VE,Cordevole a Ponte Mas,IT,IT_VEN,Cordevole,12.125220,46.154313,12.125220,46.154313,...,0,-0.710345,2002-11-27,2022-12-31,21,213,6032,1308.0,2121,ITVE0437
ITVEN438,12429,327VE,Piave a Segusino,IT,IT_VEN,Piave,11.948837,45.922490,11.948837,45.922490,...,0,-1.500980,2004-01-01,2022-12-31,19,216,6284,656.0,2041,ITVE0438
ITVEN439,12430,374VE,Brenta a Enego,IT,IT_VEN,Brenta,11.715000,45.954413,11.715000,45.954413,...,0,-2.210217,2005-12-08,2022-12-31,18,204,6062,171.0,2384,ITVE0439
ITVEN440,12431,557VE,Piave a Belluno unificata,IT,IT_VEN,Piave,12.228124,46.127896,12.228124,46.127896,...,0,0.107121,2014-05-29,2018-10-31,5,54,1615,2.0,1614,ITVE0440

In [342]:
# Germany (remember to convert the "code" and to set the index):
network_DE = pd.read_excel('data/gauges_metadata/network_DEo_v02.xlsx')
network_DE.set_index("new_code", inplace = True)

network_DE.drop(['DE00032', 'DE00079', 'DE00090', 'DE00125', 'DE00127', 'DE00129', 'DE00517', 'DE00618', 'DE00636', 'DE00658', 'DE00716', 'DE00727', 'DE00812', 'DE00822', 'DE00849', 'DE01492'], inplace = True)
network_DE

,Unnamed: 0,code_regio,code,name,river,area,elev,lon,lat,region,country,start_date,end_date,remark
new_code,,,,,,,,,,,,,,
DE00001,0,BB00001,5891200,"Alt Ruppin, Schleuse OP",Rhin,534.785653,NaN,12.835157,52.959469,BB,DE,1980-11-01 00:00:00,2023-09-26,NaN
DE00002,1,BB00002,5871600,Babelsberg-Drewitz,Nuthe,1768.326729,NaN,13.116304,52.362773,BB,DE,1954-11-01 00:00:00,2023-09-26,NaN
DE00003,2,BB00003,5530500,Bad Liebenwerda,Schwarze Elster,3137.028384,NaN,13.394420,51.519043,BB,DE,1960-11-01 00:00:00,2023-09-19,NaN
DE00004,3,BB00004,5930500,Bad Wilsnack,Karthane,284.617208,NaN,11.937284,52.956437,BB,DE,1975-11-01 00:00:00,2023-09-26,NaN
DE00005,4,BB00005,5825500,"Beeskow, Spreeschleuse UP",Spree,5565.936643,NaN,14.254694,52.171976,BB,DE,1950-03-01 00:00:00,2023-09-20,Aufteilung des Gesamtabflusses zwischen Walkm...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE01816,1815,ST00121,597005,Groß Gischau,Jeetze,185.000000,NaN,11.099566,52.749438,ST,DE,1971-01-11 00:00:00,2021-12-31,NaN
DE01817,1816,ST00122,597105,Hagen,Purnitz,136.000000,NaN,11.163457,52.754758,ST,DE,1992-01-11 00:00:00,2020-05-31,NaN
DE01818,1817,ST00123,597205,Tylsen,Salzwedeler Dumme,191.000000,NaN,11.027443,52.819215,ST,DE,1974-01-11 00:00:00,2021-12-31,NaN
DE01819,1818,ST00124,597208,Salzwedel-Dumme,Salzwedeler Dumme,224.000000,NaN,11.148540,52.852074,ST,DE,1995-01-11 00:00:00,2021-12-31,NaN
DE01820,1819,ST00125,597305,Ritzleben,Flötgraben,111.390000,NaN,11.356724,52.853805,ST,DE,1992-01-11 00:00:00,2021-12-31,NaN

In [343]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_DE.index, "gauge_name"] = network_DE.loc[:, "name"]

# river
network_EU.loc[network_DE.index, "river"] = network_DE.loc[:, "river"]

# Check:
network_EU.loc[network_EU.gauge_country == "DE", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
DE00001,1840,5891200,"Alt Ruppin, Schleuse OP",DE,DE_BB,Rhin,12.835157,52.959469,12.835157,52.959469,...,3,-134.602591,1980-11-01,2023-09-25,44,515,15669,0.0,15669,DEBB0001
DE00002,1841,5871600,Babelsberg-Drewitz,DE,DE_BB,Nuthe,13.116304,52.362773,13.116304,52.362773,...,0,-1.485940,1954-11-01,2023-09-24,70,827,25160,5.0,25124,DEBB0002
DE00003,1842,5530500,Bad Liebenwerda,DE,DE_BB,Schwarze Elster,13.394420,51.519043,13.394420,51.519043,...,3,26.821510,1960-11-01,2023-09-18,64,755,22967,0.0,22967,DEBB0003
DE00004,1843,5930500,Bad Wilsnack,DE,DE_BB,Karthane,11.937284,52.956437,11.937284,52.956437,...,0,-1.609808,1975-11-01,2023-09-24,47,539,16399,1096.0,14938,DEBB0004
DE00005,1844,5825500,"Beeskow, Spreeschleuse UP",DE,DE_BB,Spree,14.254694,52.171976,14.254694,52.171976,...,0,3.436989,1950-03-02,2023-09-19,74,883,26865,0.0,26865,DEBB0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,3928,5752400000,Hachelbich,DE,DE_TH,Wipper,10.973000,51.347000,10.973000,51.347000,...,0,0.000000,1961-11-01,2021-12-31,61,722,21976,0.0,21976,DETH2106
DE02107,3929,5752500000,Bleicherode,DE,DE_TH,Bode,10.593000,51.450000,10.593000,51.450000,...,0,0.000000,1951-11-01,2021-12-31,71,842,25629,0.0,25629,DETH2107
DE02108,3930,5754000000,Sundhausen,DE,DE_TH,Helme,10.810000,51.468000,10.810000,51.468000,...,0,0.299103,1957-11-01,2021-12-31,65,770,23437,0.0,23437,DETH2108
DE02109,3931,5755000000,Nordhausen,DE,DE_TH,Zorge,10.784000,51.507000,10.784000,51.507000,...,0,0.527009,1953-11-01,2021-12-31,69,818,24891,7.0,24650,DETH2109
DE02110,3932,5756600000,Ilfeld,DE,DE_TH,Bere,10.786000,51.598000,10.786000,51.598000,...,0,-1.123596,1951-11-01,2021-12-31,71,842,25629,0.0,25629,DETH2110

In [344]:
# Germany (remember to convert the "code" and to set the index):
network_DE_BU_TH_RP = pd.read_excel('data/gauges_metadata/network_DE_BU_TH_RP_o.xlsx')
network_DE_BU_TH_RP.set_index("new_code", inplace = True)

network_DE_BU_TH_RP

,code,name,river,area,elev,lon,lat,region_name,region,country,start_date,end_date
new_code,,,,,,,,,,,,
DE01945,2730010,BundespegelKoeln,Rhine,144232.0,NaN,6.963293,50.936961,Bundespegel,BU,DE,1900-01-02,2021-07-31
DE01946,2750010,BundespegelDuesseldorf,Rhine,147680.0,NaN,6.770183,51.225547,Bundespegel,BU,DE,1901-01-01,2021-07-31
DE01947,2730010,BundespegelKoeln,Rhine,144232.0,NaN,6.963293,50.936961,Bundespegel,BU,DE,1900-01-02,2021-07-31
DE01948,2750010,BundespegelDuesseldorf,Rhine,147680.0,NaN,6.770183,51.225547,Bundespegel,BU,DE,1901-01-01,2021-07-31
DE01949,2790010,BundespegelRees,Rhine,159300.0,NaN,6.395395,51.756918,Bundespegel,BU,DE,1900-01-02,2021-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,Wipper,524.0,NaN,10.973285,51.347098,Thueringen,TH,DE,1961-11-01,2021-12-31
DE02107,5752500000,Bleicherode,Bode,104.0,NaN,10.592766,51.450407,Thueringen,TH,DE,1951-11-01,2021-12-31
DE02108,5754000000,Sundhausen,Helme,200.6,NaN,10.809725,51.467735,Thueringen,TH,DE,1957-11-01,2021-12-31
DE02109,5755000000,Nordhausen,Zorge,303.6,NaN,10.783833,51.506746,Thueringen,TH,DE,1953-11-01,2021-12-31
DE02110,5756600000,Ilfeld,Bere,62.3,NaN,10.785921,51.597666,Thueringen,TH,DE,1951-11-01,2021-12-31

In [345]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_DE_BU_TH_RP.index, "gauge_name"] = network_DE_BU_TH_RP.loc[:, "name"]

# river
network_EU.loc[network_DE_BU_TH_RP.index, "river"] = network_DE_BU_TH_RP.loc[:, "river"]

# Check:
network_EU.loc[network_DE_BU_TH_RP.index, :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
new_code,,,,,,,,,,,,,,,,,,,,,
DE01945,3767,2730010,BundespegelKoeln,DE,DE_BU,Rhine,6.963,50.937,6.963,50.937,...,0,0.160852,1900-01-02,2021-07-31,121,1441,43859,547.0,43828,DEBU1945
DE01946,3768,2750010,BundespegelDuesseldorf,DE,DE_BU,Rhine,6.770,51.226,6.770,51.226,...,0,-0.216685,1901-01-01,2021-07-31,120,1429,43495,547.0,43464,DEBU1946
DE01947,3769,2730010,BundespegelKoeln,DE,DE_BU,Rhine,6.963,50.937,6.963,50.937,...,0,0.160852,1900-01-02,2021-07-31,121,1441,43859,547.0,43828,DEBU1947
DE01948,3770,2750010,BundespegelDuesseldorf,DE,DE_BU,Rhine,6.770,51.226,6.770,51.226,...,0,-0.216685,1901-01-01,2021-07-31,120,1429,43495,547.0,43464,DEBU1948
DE01949,3771,2790010,BundespegelRees,DE,DE_BU,Rhine,6.395,51.757,6.395,51.757,...,0,0.188324,1900-01-02,2021-07-31,121,1441,43859,547.0,43828,DEBU1949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,3928,5752400000,Hachelbich,DE,DE_TH,Wipper,10.973,51.347,10.973,51.347,...,0,0.000000,1961-11-01,2021-12-31,61,722,21976,0.0,21976,DETH2106
DE02107,3929,5752500000,Bleicherode,DE,DE_TH,Bode,10.593,51.450,10.593,51.450,...,0,0.000000,1951-11-01,2021-12-31,71,842,25629,0.0,25629,DETH2107
DE02108,3930,5754000000,Sundhausen,DE,DE_TH,Helme,10.810,51.468,10.810,51.468,...,0,0.299103,1957-11-01,2021-12-31,65,770,23437,0.0,23437,DETH2108
DE02109,3931,5755000000,Nordhausen,DE,DE_TH,Zorge,10.784,51.507,10.784,51.507,...,0,0.527009,1953-11-01,2021-12-31,69,818,24891,7.0,24650,DETH2109
DE02110,3932,5756600000,Ilfeld,DE,DE_TH,Bere,10.786,51.598,10.786,51.598,...,0,-1.123596,1951-11-01,2021-12-31,71,842,25629,0.0,25629,DETH2110

In [346]:
# Germany (remember to convert the "code" and to set the index):
network_DE_NI = pd.read_excel('data/gauges_metadata/network_DE_NIo.xlsx')
network_DE_NI.set_index("new_code", inplace = True)
network_DE_NI.drop(['DE01911'], inplace = True)

network_DE_NI

,Unnamed: 0,code,name,river,area,elev,lon,lat,country
new_code,,,,,,,,,
DE01821,0,4723104,Achum,Weser,86.5,56.58,9.085211,52.289226,DE
DE01822,1,4361103,Adelebsen,Weser,40.0,162.06,9.715086,51.572478,DE
DE01823,2,4572113,Afferde,Weser,181.0,64.17,9.376743,52.094682,DE
DE01824,3,4948105,Ahrensdorf,Weser,80.0,2.53,8.926023,53.336149,DE
DE01825,4,5986104,Alfstedt,Elbe/Labe,55.0,-0.02,9.071023,53.555054,DE
...,...,...,...,...,...,...,...,...,...
DE01940,119,5944113,Oetzmühle,Elbe/Labe,201.0,43.97,10.655766,53.015500,DE
DE01941,120,9286106,Ohne,Rhein,393.0,33.66,2.904435,52.127981,DE
DE01942,121,4825109,Ohrum,Weser,813.0,75.54,10.565874,52.121308,DE
DE01943,122,4884110,Oldendorf,Weser,149.0,127.83,9.770251,51.811171,DE
DE01944,123,3648102,Osteressen,Ems,24.3,19.00,7.978492,52.713950,DE

In [347]:
# Adjust of the name:
# gauge_name:
network_EU.loc[network_DE_NI.index, "gauge_name"] = network_DE_NI.loc[:, "name"]

# river
network_EU.loc[network_DE_NI.index, "river"] = network_DE_NI.loc[:, "river"]

# Check:
network_EU.loc[network_DE_NI.index, :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
new_code,,,,,,,,,,,,,,,,,,,,,
DE01821,3644,4723104,Achum,DE,NI_NRFA,Weser,9.085211,52.289226,9.085211,52.289226,...,0,4.025434,1983-11-01,2017-12-31,35,410,12480,0.0,12480,DENI1821
DE01822,3645,4361103,Adelebsen,DE,NI_NRFA,Weser,9.717906,51.572974,9.715086,51.572478,...,1,-0.627500,1983-01-01,2017-12-31,35,420,12784,0.0,12784,DENI1822
DE01823,3646,4572113,Afferde,DE,NI_NRFA,Weser,9.376743,52.094682,9.376743,52.094682,...,0,1.165193,1983-01-01,2017-12-31,35,420,12784,0.0,12784,DENI1823
DE01824,3647,4948105,Ahrensdorf,DE,NI_NRFA,Weser,8.926023,53.336149,8.926023,53.336149,...,0,7.642500,1983-01-01,2017-12-31,35,420,12784,0.0,12784,DENI1824
DE01825,3648,5986104,Alfstedt,DE,NI_NRFA,Elbe/Labe,9.071023,53.555054,9.071023,53.555054,...,0,-1.880000,1983-01-01,2017-12-31,35,420,12784,0.0,12784,DENI1825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE01940,3762,5944113,Oetzmühle,DE,NI_NRFA,Elbe/Labe,10.655766,53.015500,10.655766,53.015500,...,0,-3.996020,1973-11-01,2017-12-31,45,530,16132,0.0,16132,DENI1940
DE01941,3763,9286106,Ohne,DE,NI_NRFA,Rhein,7.284094,52.273229,7.284094,52.273229,...,0,0.238168,1968-02-01,2017-12-31,50,599,18232,0.0,18232,DENI1941
DE01942,3764,4825109,Ohrum,DE,NI_NRFA,Weser,10.565874,52.121308,10.565874,52.121308,...,0,5.495080,1958-01-01,2017-12-31,60,720,21915,0.0,21915,DENI1942
DE01943,3765,4884110,Oldendorf,DE,NI_NRFA,Weser,9.770251,51.811171,9.770251,51.811171,...,0,0.944966,1961-11-01,2017-12-31,57,674,20515,0.0,20515,DENI1943
DE01944,3766,3648102,Osteressen,DE,NI_NRFA,Ems,7.978492,52.713950,7.978492,52.713950,...,2,-9.975309,1977-01-01,2000-12-31,24,288,8766,0.0,8766,DENI1944

In [348]:
network_EU.loc[network_EU.gauge_country == "BA", :]

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
BA00001,582,Martin Brod,Martin Brod,BA,BA_FHMZ,Una,16.134722,44.495556,16.134722,44.495556,...,888,20.574777,1987-01-01,2019-12-31,21,243,7348,4705.0,4879,BA000001
BA00002,583,Kljuc,Klju?,BA,BA_FHMZ,Sana,16.796389,44.525000,16.796389,44.525000,...,5,-6.150928,1987-01-01,2019-12-31,20,234,7096,4957.0,5635,BA000002
BA00003,584,Vrhpolje,Vrhpolje,BA,BA_FHMZ,Sana,16.736944,44.689722,16.736944,44.689722,...,999,NaN,1987-01-01,2019-12-31,8,91,2770,9283.0,1309,BA000003
BA00004,585,Sanski Most,Sanski Most,BA,BA_FHMZ,Sana,16.666111,44.766389,16.666111,44.766389,...,5,14.706823,1987-01-01,2019-12-31,23,276,8400,3653.0,6939,BA000004
BA00005,586,Hrustovo,Hrustovo,BA,BA_FHMZ,Sanica,16.734167,44.680278,16.734167,44.680278,...,4,NaN,1987-01-01,2019-12-31,20,234,7093,4960.0,4231,BA000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BA00087,668,Praca,Pra?a,BA,BA_FHMZ,Pra?a,18.764722,43.766944,18.764722,43.766944,...,4,NaN,2017-01-01,2019-12-31,3,36,1095,0.0,1095,BA000087
BA00088,669,Bliha,Bliha,BA,BA_FHMZ,Bliha,16.643889,44.771944,16.643889,44.771944,...,999,NaN,2018-01-01,2019-12-31,2,24,730,0.0,730,BA000088
BA00089,670,Zepce,Žep?e,BA,BA_FHMZ,Bosna,18.020833,44.424167,18.020833,44.424167,...,2,NaN,2018-01-01,2019-12-31,2,24,730,0.0,730,BA000089
BA00090,671,Tesanjka,Tešanjka,BA,BA_FHMZ,Usora,18.019722,44.678056,18.019722,44.678056,...,4,NaN,2018-01-01,2019-12-31,2,24,730,0.0,730,BA000090
BA00091,672,Novi grad/Safet Zajko,Novi grad/Safet Zajko,BA,BA_FHMZ,Miljacka,18.332129,43.845849,18.336944,43.864722,...,2,NaN,2019-01-01,2019-12-31,1,12,365,0.0,365,BA000091

In [349]:
# Save the new data:
network_EU.to_excel('results/estreams_gauging_stations.xlsx')

## Table with country's summary in the manuscript
* This code generates Table 1 from the manuscript

In [297]:
network_EU = pd.read_excel("results/estreams_gauging_stations.xlsx")
network_EU

,basin_id,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
0,AT00001,200014,Bangs,AT,AT_EHYD,Rhein,9.534835,47.273748,9.534835,47.273748,...,0,-0.440608,1996-01-01,2019-12-31,24,288,8766,0.0,8766,AT000001
1,AT00002,200048,Schruns (Vonbunweg),AT,AT_EHYD,Litz,9.913677,47.080301,9.913677,47.080301,...,0,-0.281373,1958-10-01,2019-12-31,62,735,22372,0.0,22372,AT000002
2,AT00003,231662,Loruens-Aeule,AT,AT_EHYD,Ill,9.847765,47.132821,9.847765,47.132821,...,0,-0.205344,1985-01-02,2019-12-31,35,420,12782,0.0,12782,AT000003
3,AT00004,200592,Kloesterle (OEBB),AT,AT_EHYD,Alfenz,10.061843,47.128994,10.061843,47.128994,...,0,0.471471,1998-01-02,2019-12-31,22,264,8034,0.0,8034,AT000004
4,AT00005,200097,Buers (Bruecke L82),AT,AT_EHYD,Alvier,9.802668,47.150770,9.802668,47.150770,...,0,-0.343490,1990-01-01,2019-12-31,30,360,10957,0.0,10957,AT000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15009,UAGR017,6682300,BASHTANOVKA,UA,UA_GRDC,KACHA,33.894739,44.691884,33.900000,44.683333,...,0,-1.361371,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0017
15010,UAGR018,6682500,YALTA,UA,UA_GRDC,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,...,0,4.237425,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0018
15011,UAGR019,6683010,PIONERSKOE,UA,UA_GRDC,SALHYR,34.199841,44.887685,34.200000,44.883333,...,1,6.233333,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0019
15012,UAGR020,6683200,TOKMAK,UA,UA_GRDC,TOKMAK,35.705833,47.251389,35.705833,47.251389,...,0,3.806184,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0020
15013,UAGR021,6683300,NOVOSELOVKA,UA,UA_GRDC,KRYNKA,38.144722,48.153333,38.144722,48.153333,...,0,-3.024055,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0021

In [298]:
network_EU[network_EU.gauge_country == "DE"]

grouped_countries = network_EU.groupby('gauge_provider').count()
network_EU.count()

# Load the world shapefile dataset provided by GeoPandas
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

# Compute the areas of countries and add them as a new column
world['area_sqkm'] = world['geometry'].to_crs({'proj': 'cea'}).area / 10**6  # Convert to square kilometers

# Display the first few rows of the dataset
europe = world[world.continent == "Europe"]

europe

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,area_sqkm
18,142257519,Europe,Russia,RUS,3745000.0,"MULTIPOLYGON (((178.72530 71.09880, 180.00000 ...",1.702059e+07
21,5320045,Europe,Norway,-99,364700.0,"MULTIPOLYGON (((15.14282 79.67431, 15.52255 80...",3.972363e+05
43,67106161,Europe,France,-99,2699000.0,"MULTIPOLYGON (((-51.65780 4.15623, -52.24934 3...",6.448677e+05
110,9960487,Europe,Sweden,SWE,498100.0,"POLYGON ((11.02737 58.85615, 11.46827 59.43239...",4.507119e+05
111,9549747,Europe,Belarus,BLR,165400.0,"POLYGON ((28.17671 56.16913, 29.22951 55.91834...",2.089318e+05
112,44033874,Europe,Ukraine,UKR,352600.0,"POLYGON ((31.78599 52.10168, 32.15944 52.06125...",5.725398e+05
113,38476269,Europe,Poland,POL,1052000.0,"POLYGON ((23.48413 53.91250, 23.52754 53.47012...",3.103561e+05
114,8754413,Europe,Austria,AUT,416600.0,"POLYGON ((16.97967 48.12350, 16.90375 47.71487...",8.508349e+04
115,9850845,Europe,Hungary,HUN,267600.0,"POLYGON ((22.08561 48.42226, 22.64082 48.15024...",9.249455e+04
116,3474121,Europe,Moldova,MDA,18540.0,"POLYGON ((26.61934 48.22073, 26.85782 48.36821...",3.232595e+04
117,21529967,Europe,Romania,ROU,441000.0,"POLYGON ((28.23355 45.48828, 28.67978 45.30403...",2.383786e+05
118,2823859,Europe,Lithuania,LTU,85620.0,"POLYGON ((26.49433 55.61511, 26.58828 55.16718...",6.382005e+04
119,1944643,Europe,Latvia,LVA,50650.0,"POLYGON ((27.28818 57.47453, 27.77002 57.24426...",6.392072e+04
120,1251581,Europe,Estonia,EST,38700.0,"POLYGON ((27.98113 59.47537, 27.98112 59.47537...",4.466772e+04
121,80594017,Europe,Germany,DEU,3979000.0,"POLYGON ((14.11969 53.75703, 14.35332 53.24817...",3.573990e+05
122,7101510,Europe,Bulgaria,BGR,143100.0,"POLYGON ((22.65715 44.23492, 22.94483 43.82379...",1.102147e+05
123,10768477,Europe,Greece,GRC,290500.0,"MULTIPOLYGON (((26.29000 35.29999, 26.16500 35...",1.319931e+05
125,3047987,Europe,Albania,ALB,33900.0,"POLYGON ((21.02004 40.84273, 20.99999 40.58000...",2.969513e+04
126,4292095,Europe,Croatia,HRV,94240.0,"POLYGON ((16.56481 46.50375, 16.88252 46.38063...",5.755030e+04
127,8236303,Europe,Switzerland,CHE,496300.0,"POLYGON ((9.59423 47.52506, 9.63293 47.34760, ...",4.617167e+04
128,594130,Europe,Luxembourg,LUX,58740.0,"POLYGON ((6.04307 50.12805, 6.24275 49.90223, ...",2.415601e+03
129,11491346,Europe,Belgium,BEL,508600.0,"POLYGON ((6.15666 50.80372, 6.04307 50.12805, ...",3.013410e+04
130,17084719,Europe,Netherlands,NLD,870800.0,"POLYGON ((6.90514 53.48216, 7.09205 53.14404, ...",3.993060e+04
131,10839514,Europe,Portugal,PRT,297100.0,"POLYGON ((-9.03482 41.88057, -8.67195 42.13469...",9.340048e+04
132,48958159,Europe,Spain,ESP,1690000.0,"POLYGON ((-7.45373 37.09779, -7.53711 37.42890...",5.022285e+05
133,5011102,Europe,Ireland,IRL,322000.0,"POLYGON ((-6.19788 53.86757, -6.03299 53.15316...",5.847536e+04
141,62137802,Europe,Italy,ITA,2221000.0,"MULTIPOLYGON (((10.44270 46.89355, 11.04856 46...",3.151160e+05
142,5605948,Europe,Denmark,DNK,264800.0,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...",4.279200e+04
143,64769452,Europe,United Kingdom,GBR,2788000.0,"MULTIPOLYGON (((-6.19788 53.86757, -6.95373 54...",2.499296e+05
144,339747,Europe,Iceland,ISL,16150.0,"POLYGON ((-14.50870 66.45589, -14.73964 65.808...",1.078850e+05
150,1972126,Europe,Slovenia,SVN,68350.0,"POLYGON ((13.80648 46.50931, 14.63247 46.43182...",1.911759e+04
151,5491218,Europe,Finland,FIN,224137.0,"POLYGON ((28.59193 69.06478, 28.44594 68.36461...",3.412621e+05
152,5445829,Europe,Slovakia,SVK,168800.0,"POLYGON ((22.55814 49.08574, 22.28084 48.82539...",4.706978e+04
153,10674723,Europe,Czechia,CZE,350900.0,"POLYGON ((15.01700 51.10667, 15.49097 50.78473...",8.120957e+04
170,3856181,Europe,Bosnia and Herz.,BIH,42530.0,"POLYGON ((18.56000 42.65000, 17.67492 43.02856...",5.061695e+04
171,2103721,Europe,Macedonia,MKD,29520.0,"POLYGON ((22.38053 42.32026, 22.88137 41.99930...",2.506160e+04
172,7111024,Europe,Serbia,SRB,101800.0,"POLYGON ((18.82982 45.90887, 18.82984 45.90888...",7.637329e+04
173,642550,Europe,Montenegro,MNE,10610.0,"POLYGON ((20.07070 42.58863, 19.80161 42.50009...",1.344636e+04
174,1895250,Europe,Kosovo,-99,18490.0,"POLYGON ((20.59025 41.85541, 20.52295 42.21787...",1.123192e+04

In [299]:
# Create a dictionary manually mapping country codes to country names
country_dict = {
    'AT': 'Austria',
    'BA': 'Bosnia and Herz.',
    'BE': 'Belgium',
    'BG': 'Bulgaria',
    'BY': 'Belarus',
    'CH': 'Switzerland',
    'CY': 'Cyprus',
    'CZ': 'Czechia',
    'DE': 'Germany',
    'DK': 'Denmark',
    'EE': 'Estonia',
    'ES': 'Spain',
    'FI': 'Finland',
    'FR': 'France',
    'GB': 'Great Britain',
    'GR': 'Greece',
    'HR': 'Croatia',
    'HU': 'Hungary',
    'IE': 'Ireland',
    'IS': 'Iceland',
    'IT': 'Italy',
    'LT': 'Lithuania',
    'LU': 'Luxembourg',
    'LV': 'Latvia',
    'MD': 'Moldova',
    'MK': 'Macedonia',
    'NI': 'Northern Ireland',
    'NL': 'Netherlands',
    'NO': 'Norway',
    'PL': 'Poland',
    'PT': 'Portugal',
    'RO': 'Romania',
    'RS': 'Serbia',
    'RU': 'Russia',
    'SE': 'Sweden',
    'SI': 'Slovenia',
    'SK': 'Slovakia',
    'TR': 'Turkey',
    'UA': 'Ukraine'    
}

grouped_countries = network_EU.groupby('gauge_country').count()
grouped_countries = pd.DataFrame(grouped_countries.iloc[:,0])

grouped_countries.columns = ["Number of stations"]
grouped_countries["Code"] = grouped_countries.index

# Assign country names based on country codes
grouped_countries['Country'] = grouped_countries['Code'].map(country_dict)
grouped_countries.reset_index(inplace = True, drop = True)
grouped_countries.set_index("Country", inplace = True)
grouped_countries["Area km2"] = world.set_index("name", inplace = False).area_sqkm

grouped_countries.loc["Great Britain", "Area km2"] = 209331
grouped_countries.loc["Northern Ireland", "Area km2"] = 14130

grouped_countries = grouped_countries[["Code", "Number of stations", "Area km2"]]

grouped_countries.reset_index(inplace = True, drop = False)

grouped_countries.set_index("Code", inplace = True)

# Group by 'gauge_country' and count the number of unique 'gauge_provider' values in each group
grouped_countries["Number of providers"] = network_EU.groupby('gauge_country')['gauge_provider'].nunique()

grouped_countries.reset_index(inplace = True, drop = False)

grouped_countries = grouped_countries[["Country", "Code", "Number of stations", "Number of providers", "Area km2"]]

grouped_countries["Density (stations/100km2)"] = (grouped_countries["Number of stations"] / grouped_countries["Area km2"]) * 100

grouped_countries["Density (stations/100km2)"] = grouped_countries["Density (stations/100km2)"].round(3)
grouped_countries.set_index("Country", inplace = True)

grouped_countries

,Code,Number of stations,Number of providers,Area km2,Density (stations/100km2)
Country,,,,,
Austria,AT,582,1,8.508349e+04,0.684
Bosnia and Herz.,BA,91,1,5.061695e+04,0.180
Belgium,BE,230,2,3.013410e+04,0.763
Bulgaria,BG,8,1,1.102147e+05,0.007
Belarus,BY,51,1,2.089318e+05,0.024
Switzerland,CH,298,1,4.617167e+04,0.645
Cyprus,CY,14,1,6.220762e+03,0.225
Czechia,CZ,566,2,8.120957e+04,0.697
Germany,DE,2093,11,3.573990e+05,0.586
Denmark,DK,1000,1,4.279200e+04,2.337
Estonia,EE,54,1,4.466772e+04,0.121
Spain,ES,1440,1,5.022285e+05,0.287
Finland,FI,669,1,3.412621e+05,0.196
France,FR,3155,1,6.448677e+05,0.489
Great Britain,GB,671,1,2.093310e+05,0.321
Greece,GR,31,3,1.319931e+05,0.023
Croatia,HR,158,1,5.755030e+04,0.275
Hungary,HU,65,2,9.249455e+04,0.070
Ireland,IE,464,2,5.847536e+04,0.793
Iceland,IS,25,1,1.078850e+05,0.023
Italy,IT,767,13,3.151160e+05,0.243
Lithuania,LT,76,1,6.382005e+04,0.119
Luxembourg,LU,19,1,2.415601e+03,0.787
Latvia,LV,61,1,6.392072e+04,0.095
Moldova,MD,2,1,3.232595e+04,0.006
Macedonia,MK,1,1,2.506160e+04,0.004
Northern Ireland,NI,51,1,1.413000e+04,0.361
Netherlands,NL,17,1,3.993060e+04,0.043
Norway,NO,189,1,3.972363e+05,0.048
Poland,PL,1287,1,3.103561e+05,0.415
Portugal,PT,280,1,9.340048e+04,0.300
Romania,RO,18,1,2.383786e+05,0.008
Serbia,RS,6,1,7.637329e+04,0.008
Russia,RU,98,1,1.702059e+07,0.001
Sweden,SE,290,1,4.507119e+05,0.064
Slovenia,SI,117,1,1.911759e+04,0.612
Slovakia,SK,21,1,4.706978e+04,0.045
Turkey,TR,28,1,7.986473e+05,0.004
Ukraine,UA,21,1,5.725398e+05,0.004

In [300]:
# Save the new data:
grouped_countries.to_excel('results/estreams_table_countries_summary.xlsx')

## Adjust of the shapefile-file
* Here we adjust the fields in the shapefile

In [32]:
catchment_boundaries

,area_km2,outlet_lat,outlet_lng,area_offic,area_calc,Code,basin_id,label_area,name,layer,path,geometry
id,,,,,,,,,,,,
AT00001,4668.378643009853,47.274,9.535,4647.9,4668.379,AT00001,AT00001,0,Bangs,None,None,"POLYGON Z ((9.69406 46.54322 0.00000, 9.69570 ..."
AT00002,102.28688127787842,47.080,9.914,102,102.287,AT00002,AT00002,0,Schruns (Vonbunweg),None,None,"POLYGON Z ((10.13650 47.02949 0.00000, 10.1349..."
AT00003,536.2985313168554,47.133,9.848,535.2,536.299,AT00003,AT00003,0,Loruens-Aeule,None,None,"POLYGON Z ((10.11095 46.89437 0.00000, 10.1122..."
AT00004,66.2856923321305,47.129,10.062,66.6,66.286,AT00004,AT00004,0,Kloesterle (OEBB),None,None,"POLYGON Z ((10.14189 47.09706 0.00000, 10.1404..."
AT00005,72.4477297164234,47.151,9.803,72.2,72.448,AT00005,AT00005,0,Buers (Bruecke L82),None,None,"POLYGON Z ((9.67851 47.06249 0.00000, 9.67888 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,325,44.692,33.895,321,325.370,UAGR017,UAGR017,0,6682300,None,None,"POLYGON Z ((33.96791 44.63291 0.00000, 33.9679..."
UAGR018,48,44.500,34.167,49.7,47.594,UAGR018,UAGR018,0,6682500,None,None,"POLYGON Z ((34.19958 44.58291 0.00000, 34.2029..."
UAGR019,245,44.888,34.200,261,244.731,UAGR019,UAGR019,1,6683010,None,None,"POLYGON Z ((34.19624 44.88375 0.00000, 34.1962..."
UAGR020,731,47.251,35.706,760,731.073,UAGR020,UAGR020,0,6683200,None,None,"POLYGON Z ((35.78708 47.28708 0.00000, 35.7870..."
UAGR021,600,48.153,38.145,582,599.600,UAGR021,UAGR021,0,6683300,None,None,"POLYGON Z ((38.10125 48.15791 0.00000, 38.1004..."

In [33]:
# Here we read the network information:
network_EU = pd.read_excel("results/estreams_gauging_stations.xlsx")
network_EU.set_index("basin_id", inplace = True)
network_EU

,Unnamed: 0,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
AT00001,0,200014,Bangs,AT,AT_EHYD,Rhein,9.534835,47.273748,9.534835,47.273748,...,0,-0.440608,1996-01-01,2019-12-31,24,288,8766,0.0,8766,AT000001
AT00002,1,200048,Schruns (Vonbunweg),AT,AT_EHYD,Litz,9.913677,47.080301,9.913677,47.080301,...,0,-0.281373,1958-10-01,2019-12-31,62,735,22372,0.0,22372,AT000002
AT00003,2,231662,Loruens-Aeule,AT,AT_EHYD,Ill,9.847765,47.132821,9.847765,47.132821,...,0,-0.205344,1985-01-02,2019-12-31,35,420,12782,0.0,12782,AT000003
AT00004,3,200592,Kloesterle (OEBB),AT,AT_EHYD,Alfenz,10.061843,47.128994,10.061843,47.128994,...,0,0.471471,1998-01-02,2019-12-31,22,264,8034,0.0,8034,AT000004
AT00005,4,200097,Buers (Bruecke L82),AT,AT_EHYD,Alvier,9.802668,47.150770,9.802668,47.150770,...,0,-0.343490,1990-01-01,2019-12-31,30,360,10957,0.0,10957,AT000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,15009,6682300,BASHTANOVKA,UA,UA_GRDC,KACHA,33.894739,44.691884,33.900000,44.683333,...,0,-1.361371,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0017
UAGR018,15010,6682500,YALTA,UA,UA_GRDC,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,...,0,4.237425,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0018
UAGR019,15011,6683010,PIONERSKOE,UA,UA_GRDC,SALHYR,34.199841,44.887685,34.200000,44.883333,...,1,6.233333,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0019
UAGR020,15012,6683200,TOKMAK,UA,UA_GRDC,TOKMAK,35.705833,47.251389,35.705833,47.251389,...,0,3.806184,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0020
UAGR021,15013,6683300,NOVOSELOVKA,UA,UA_GRDC,KRYNKA,38.144722,48.153333,38.144722,48.153333,...,0,-3.024055,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0021

In [41]:
catchment_boundaries.index.name = "basin_id"
catchment_boundaries.drop(["area_km2", "outlet_lat", "outlet_lng", "area_offic", "area_calc", 
                          "Code", "basin_id", "label_area", "name", "layer", "path"], axis = 1, inplace = True)


catchment_boundaries

                                                   geometry
basin_id
AT00001   POLYGON Z ((9.69406 46.54322 0.00000, 9.69570 ...
AT00002   POLYGON Z ((10.13650 47.02949 0.00000, 10.1349...
AT00003   POLYGON Z ((10.11095 46.89437 0.00000, 10.1122...
AT00004   POLYGON Z ((10.14189 47.09706 0.00000, 10.1404...
AT00005   POLYGON Z ((9.67851 47.06249 0.00000, 9.67888 ...
...                                                     ...
UAGR017   POLYGON Z ((33.96791 44.63291 0.00000, 33.9679...
UAGR018   POLYGON Z ((34.19958 44.58291 0.00000, 34.2029...
UAGR019   POLYGON Z ((34.19624 44.88375 0.00000, 34.1962...
UAGR020   POLYGON Z ((35.78708 47.28708 0.00000, 35.7870...
UAGR021   POLYGON Z ((38.10125 48.15791 0.00000, 38.1004...

[15014 rows x 1 columns]

In [42]:
network_EU.columns

Index(['Unnamed: 0', 'gauge_id', 'gauge_name', 'gauge_country',
       'gauge_provider', 'river', 'lon_snap', 'lat_snap', 'lon', 'lat', 'area',
       'elevation', 'area_calc', 'area_flag', 'area_perc', 'start_date',
       'end_date', 'num_years', 'num_months', 'num_days', 'num_days_gaps',
       'num_continuous_days', 'new_code'],
      dtype='object')

In [43]:
catchment_boundaries[["gauge_id", "gauge_country", "area", "area_calc", 
                     "area_flag", "area_perc", "start_date", "end_date"]] = network_EU[["gauge_id", "gauge_country", "area", "area_calc", 
                     "area_flag", "area_perc", "start_date", "end_date"]]
catchment_boundaries

,geometry,gauge_id,gauge_country,area,area_calc,area_flag,area_perc,start_date,end_date
basin_id,,,,,,,,,
AT00001,"POLYGON Z ((9.69406 46.54322 0.00000, 9.69570 ...",200014,AT,4647.9,4668.379,0,-0.440608,1996-01-01,2019-12-31
AT00002,"POLYGON Z ((10.13650 47.02949 0.00000, 10.1349...",200048,AT,102.0,102.287,0,-0.281373,1958-10-01,2019-12-31
AT00003,"POLYGON Z ((10.11095 46.89437 0.00000, 10.1122...",231662,AT,535.2,536.299,0,-0.205344,1985-01-02,2019-12-31
AT00004,"POLYGON Z ((10.14189 47.09706 0.00000, 10.1404...",200592,AT,66.6,66.286,0,0.471471,1998-01-02,2019-12-31
AT00005,"POLYGON Z ((9.67851 47.06249 0.00000, 9.67888 ...",200097,AT,72.2,72.448,0,-0.343490,1990-01-01,2019-12-31
...,...,...,...,...,...,...,...,...,...
UAGR017,"POLYGON Z ((33.96791 44.63291 0.00000, 33.9679...",6682300,UA,321.0,325.370,0,-1.361371,1978-01-01,1987-12-31
UAGR018,"POLYGON Z ((34.19958 44.58291 0.00000, 34.2029...",6682500,UA,49.7,47.594,0,4.237425,1978-01-01,1987-12-31
UAGR019,"POLYGON Z ((34.19624 44.88375 0.00000, 34.1962...",6683010,UA,261.0,244.731,1,6.233333,1978-01-01,1987-12-31
UAGR020,"POLYGON Z ((35.78708 47.28708 0.00000, 35.7870...",6683200,UA,760.0,731.073,0,3.806184,1978-01-01,1987-12-31
UAGR021,"POLYGON Z ((38.10125 48.15791 0.00000, 38.1004...",6683300,UA,582.0,599.600,0,-3.024055,1978-01-01,1987-12-31

In [48]:
catchment_boundaries = catchment_boundaries[['gauge_id', 'gauge_country', 'area', 'area_calc',
       'area_flag', 'area_perc', 'start_date', 'end_date', 'geometry']]

catchment_boundaries.start_date = catchment_boundaries.start_date.astype(str)
catchment_boundaries.end_date = catchment_boundaries.end_date.astype(str)

catchment_boundaries

,gauge_id,gauge_country,area,area_calc,area_flag,area_perc,start_date,end_date,geometry
basin_id,,,,,,,,,
AT00001,200014,AT,4647.9,4668.379,0,-0.440608,1996-01-01,2019-12-31,"POLYGON Z ((9.69406 46.54322 0.00000, 9.69570 ..."
AT00002,200048,AT,102.0,102.287,0,-0.281373,1958-10-01,2019-12-31,"POLYGON Z ((10.13650 47.02949 0.00000, 10.1349..."
AT00003,231662,AT,535.2,536.299,0,-0.205344,1985-01-02,2019-12-31,"POLYGON Z ((10.11095 46.89437 0.00000, 10.1122..."
AT00004,200592,AT,66.6,66.286,0,0.471471,1998-01-02,2019-12-31,"POLYGON Z ((10.14189 47.09706 0.00000, 10.1404..."
AT00005,200097,AT,72.2,72.448,0,-0.343490,1990-01-01,2019-12-31,"POLYGON Z ((9.67851 47.06249 0.00000, 9.67888 ..."
...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,UA,321.0,325.370,0,-1.361371,1978-01-01,1987-12-31,"POLYGON Z ((33.96791 44.63291 0.00000, 33.9679..."
UAGR018,6682500,UA,49.7,47.594,0,4.237425,1978-01-01,1987-12-31,"POLYGON Z ((34.19958 44.58291 0.00000, 34.2029..."
UAGR019,6683010,UA,261.0,244.731,1,6.233333,1978-01-01,1987-12-31,"POLYGON Z ((34.19624 44.88375 0.00000, 34.1962..."
UAGR020,6683200,UA,760.0,731.073,0,3.806184,1978-01-01,1987-12-31,"POLYGON Z ((35.78708 47.28708 0.00000, 35.7870..."
UAGR021,6683300,UA,582.0,599.600,0,-3.024055,1978-01-01,1987-12-31,"POLYGON Z ((38.10125 48.15791 0.00000, 38.1004..."

In [49]:
# Save the new data:
catchment_boundaries.to_file('results/estreams_catchments.shp')

## End